.kinyeri-nav{
    background-color: #000000 !important;
    padding: 0 !important;
    margin: 0 !important;
}
.kinyeri-nav-button{
    background-color: #ff5829 !important;

    color:black !important;
    margin: auto;
    transition: 0.4s;
    font-size: 2em;
    line-height: 100%;
    white-space: nowrap;
}
.kinyeri-nav-button:hover{
    background-color: #101010 !important;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    color: #ffffff !important;
    margin: auto;
}
.kinyeri-nav-li{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    white-space: nowrap;
}
.kinyeri-oragen-cube{
    background-color: #ff5829;
    padding: 2px;
}
.kinyeri-yellow-cube{
    background-color: yellow !important;
    padding: 2px;
}
.chart-container {
    position: relative;
    margin: auto;
    height: 10vh;
    width: 30vw;
    color: white;
}
.chart-container-affiliate {
    color: white;
}
.h-85{
    height: 85% !important;
}
.kinyeri-oragen-cub-content{
    margin: 1em;
}
.kinyeri-orange-button{
    background-color: #f4582a !important;
    border: #ff5829 2px solid !important;
    border-radius: 5px;
    color: white;
    transition: 0.4s;

}
.kinyeri-orange-button:hover{
    background-color: #f4582a;
    color: #070707;
    border:  2px solid #e53f10 !important;
}

.kinyeri-orange-button-v2{
    background-color: #f4582a !important;
    border: #ff5829 2px solid !important;
    border-radius: 5px;
    color: white;
    transition: 0.4s;

}
.kinyeri-orange-button-v2:hover{
    background-color: #f4582a;

    border:  2px solid #e53f10 !important;
}
.kinyeri-custom-radio {
    display : block;
}
.kinyeri-custom-radio > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.kinyeri-custom-radio > input + .content{ /* DIV STYLES */
    /*cursor:pointer;*/
    cursor:default !important;
    border:1px solid transparent;
} /*
.kinyeri-custom-radio > input:checked + .content{
    background-color: #1a1a1a;
    box-shadow: #2b2b2b;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.kinyeri-custom-radio > input:checked + .kinyeri-oragen-cube{
    background-color: #1a1a1a;
    border: 1.5px solid #2b2b2b !important;
    border-right:  1.5px solid #2b2b2b !important;

}
*/
.kinyeri-user-tipp-save{
    background-color: #ff5829;
    border: #ff5829 2px solid;
    width:100%;

}
.kinyeri-user-tipp-save:hover{
    background-color: #f15135;
}
.text-black{
    color: #212529 !important;
}
.border-black{
  border-color: #000000 !important;
}
.bg-black-100{
    background-color: #000000 !important;
}
.brand_logo_container {
    position: absolute !important;
    height: 170px !important;
    width: 170px !important;
    top: -80px !important;
    border-radius: 50% !important;
    background: #fdfdfd !important;
    padding: 10px !important;
    text-align: center !important;
}
.brand_logo {
    height: 150px !important;
    width: 150px !important;
    border-radius: 50% !important;
    border: 2px solid white !important;
}
.mt-6{
    margin-top: 5rem !important;
}
.mt-7{
    margin-top: 6rem !important;
}
#toBottomBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 12px;
    background-color: hsla(5, 76%, 62%, .8)
}

.js .cd-bottom--fade-out {
    opacity: .5
}

.js .cd-bottom--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-bottom {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}


.cd-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background-color: hsla(5, 76%, 62%, .8);
}

.kinyeri-orange-color{
    background-color: hsl(14deg 90% 56%);
}
nav{
    border-bottom: 4px solid #ff5829;

}
.custom_nav{
    background-color: #000000 !important;
    padding-bottom: 0px !important;
}
.nav_div{
    background-color: #2d2d2d !important;
    color: white !important;
    transition: 0.4s;
    padding-top: 5px;
}
.nav_div:hover{
    background-color: #3e3e3e !important;
    color: white !important;
    padding-top: 5px;
}
.nav_span{
    color: white !important;
}
.kinyeri-orange{
    color :  #ff5829 !important;
}
.section-title{
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient( to right, rgb(255 255 0), rgb(255 255 0) 4%, rgb(255 255 0) );
    -webkit-box-decoration-break: clone;
}

.kinyeri-footer{
    background-color: #16151a !important;
}
.footer-text{
    color: #616062 !important;
    font-size: 0.8rem !important;
}
.footer-text-h1{
    color: #fcfef8 !important;
    font-size: 1.8rem;
    font-weight: bold;
}
.footer-text-span{
    color : #616062 !important;
    font-weight: 700;
    margin-top: 3px;
    font-size: 1.3rem !important;

}
.border-gray {
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    border: 2px solid #616062 !important;
}
.btnRegister{
    background-color :  #ff5829 !important;
    border-color: #ff5829;

}
.register-section-color {
    background-color: #343434 !important;
}
.green{
    background-color: #ff5829 !important;

}
.min-vh-50 {
    min-height: 50vh !important;
}



@media screen and (min-width: 601px) {
    .h-1{
        font-size:2vw;
    }
    .h-2{
        font-size:1vw;
    }
    .h-3{
        font-size: 1.75rem !important;
    }
    .logo{
        width: 15% !important;
    }
    .bakos-w-30{
        width: 30% !important;
    }
    .bakos-vertical-center{
        margin-top: 25vh !important;
        margin-bottom:25vh !important;
    }
    .w-90
    {
        width: 100vh !important;
    }
    .footer-logo{
        width: 50% !important;
    }
    /*    .section-title span::after {
            margin: 0 0 10px 15px;
        }
        .section-title span::before, .section-title span::after {
            content: '';
            width: 50px;
            height: 2px;
            background: #3b4144;
            display: inline-block;
        }
        .section-title span::before {
            margin: 0 15px 10px 0;
        }*/
    .pc-mt-7{
        margin-top: 7.0rem;
    }
    .hide-mobile {
        visibility: visible;
    }
    .hide-pc{
        visibility: hidden ;
    }

}

@media screen and (max-width: 600px) {
    .h-1{
        font-size:8vw;
    }
    .h-2{
        font-size:4vw;
    }
    .h-3{
        font-size: 1.3rem !important;
    }
    .logo{
        width: 40% !important;
    }
    .bakos-w-30{
        width: 50% !important;
    }
    .bakos-vertical-center{
        margin-top: 5vh !important;
        margin-bottom:5vh !important;
    }
    .index_first_image {
        margin-top: 0px;
    }
    .w-90
    {
        width: 80vh !important;
    }
    .p-mt-2{
        margin-top: 2.0rem;
    }
    .p-mt-3{
        margin-top: 3.0rem;
    }
    .p-mt-1{
        margin-top: 1.0rem;
    }
    .p-mt-4{
        margin-top: 4.0rem;
    }
    .p-d-flex{
        display: flex !important;
    }
   .footer-logo{
       width: 100% !important;
   }
   .p-justify-content-center{
       justify-content: center !important;
   }
   .hide-pc{
       visibility: visible ;
   }
   .hide-mobile{
        visibility: hidden ;
   }
    .w-center{
        text-align: -webkit-center;
    }



}
.dto-table-background{
    background-color: #2d2d2d !important;
}
thead,td,dataTables_info,dataTables{
    color: white !important;
}
#tipps_length,#tipps_info,#teams_info, #matchs_info,#matchs_length, #teams_length,#users_length, #users_info, #usersPayments_length, #userRequestPayments_length, #userRequestPayments_info{
    color: white !important;
}
.pagination{
    margin-top: 20px !important;
}
.swal-modal .swal-text {
    text-align: center;
}
.to-registration{
    color: #ff5829 !important;
    transition: 0.4s;
}
body{
    position: relative;
}
/*chat*/

/* Button used to open the chat form - fixed at the bottom of the page */


/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    max-height: 80vh;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}


/*
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {

    background-color: black;
    color: #ff5829;
    padding: 10px;
    text-align: left;
    padding-left: 30px !important;
    border-top-left-radius: 5px;
    border: 3px solid #f15135;
    border-bottom: none;
    border-right: none;
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 280px;
    z-index: 3;
}

.open-button {
    background-color: black;
    color: #ff5829;
    padding: 16px 20px;
    border: 3px solid #f15135;
    border-bottom: none;
    border-right: none;
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 280px;
}


.open-button-icon {
    color: #000000;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 3;
}

.open-button-icon {
    background-color: #ff5829;
    color: #000000;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 10px solid #ff5829;
    border-radius: 50%;

}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0px;
    border: 3px solid #ff5829;
    border-right: 0px !important;
    border-top-left-radius: 5px !important;
    border-bottom: none;
    border-right: none;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 0px !important;
    background-color: #ff5829 !important;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;

    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}


#chatMessages{
    word-wrap: break-word;
}
.chat{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: scroll;
    height:30vh;
}
.chat::-webkit-scrollbar {
    display: none;
}
/* chat end ű*/
.pricingTable11{text-align:center;background:#fff;margin:10px;box-shadow:0 0 10px #ababab;padding-bottom:40px;border-radius:10px;color:#cad0de;transform:scale(1);transition:all .5s ease 0s}
.pricingTable11:hover{transform:scale(1.05);z-index:1}
.pricingTable11 .pricingTable-header{padding:40px 0;background:#f5f6f9;border-radius:10px 10px 50% 50%;transition:all .5s ease 0s}
.pricingTable11:hover .pricingTable-header{background:#ff9624}
.pricingTable11 .pricingTable-header i{font-size:50px;color:#858c9a;margin-bottom:10px;transition:all .5s ease 0s}
.pricingTable11 .price-value{font-size:30px;color:#ff9624;transition:all .5s ease 0s}
.pricingTable11 .month{display:block;font-size:14px;color:#cad0de}
.pricingTable11:hover .month,.pricingTable11:hover .price-value,.pricingTable11:hover .pricingTable-header i{color:#fff}
.pricingTable11 .heading{font-size:24px;color:#ff9624;margin-bottom:20px;text-transform:uppercase}
.pricingTable11 .pricing-content ul{list-style:none;padding:0;margin-bottom:30px}
.pricingTable11 .pricing-content ul li{line-height:15px;color:#a7a8aa}
.pricingTable11 .pricingTable-signup a{display:inline-block;font-size:15px;color:#fff;padding:10px 35px;border-radius:20px;background:#ffa442;text-transform:uppercase;transition:all .3s ease 0s}
.pricingTable11 .pricingTable-signup a:hover{box-shadow:0 0 10px #ffa442 ; color:white}
.pricingTable11.blue .heading,.pricingTable11.blue .price-value{color:#4b64ff}
.pricingTable11.blue .pricingTable-signup a,.pricingTable11.blue:hover .pricingTable-header{background:#4b64ff}
.pricingTable11.blue .pricingTable-signup a:hover{box-shadow:0 0 10px #4b64ff}
.pricingTable11.red .heading,.pricingTable11.red .price-value{color:#ff4b4b}
.pricingTable11.red .pricingTable-signup a,.pricingTable11.red:hover .pricingTable-header{background:#ff4b4b}
.pricingTable.red .pricingTable-signup a:hover{box-shadow:0 0 10px #ff4b4b}
.pricingTable11.green .heading,.pricingTable11.green .price-value{color:#40c952}
.pricingTable11.green .pricingTable-signup a,.pricingTable11.green:hover .pricingTable-header{background:#40c952}
.pricingTable11.green .pricingTable-signup a:hover{box-shadow:0 0 10px #40c952}
.pricingTable11.blue:hover .price-value,.pricingTable11.green:hover .price-value,.pricingTable11.red:hover .price-value{color:#fff}
@media screen and (max-width:990px) {
    .pricingTable11 {
        margin: 0 0 20px
    }
}
.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}
html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}
.account-settings-multiselect ~ .select2-container {
    width: 100% !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}
.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24,28,33,0.03) !important;
}
#notifications_info{
    color : whitesmoke;
}
#packages_info, #usersPayments_info{
    color: whitesmoke;
}
.min-vh-75 {
    min-height: 75vh !important;
}
.chart-container-phone {
    position: relative;
    margin: auto;
    height: 37vw;
    color: white;
}
.pc-table-bottom{
    border-bottom: 3px solid #fb5728 !important;
}
.border-bottom-black{
    border-bottom: 1px solid #2d2d2d !important;
}
.border-top-black{
    border-top: 1px solid #2d2d2d !important;
}


.active-tipp{
    animation: rotatecircle 1s linear forwards;
}

.kinyeri-ranking{
    margin-bottom: 6px;

    border-radius: 2px;
    background-color: white;
}

.kinyeri-best{
    background-color: #63c663;
    padding-left: 16px;
    margin-left:5px;
}
.kinyeri-winrate{
    background-color: #1e90ff;
    margin-left:5px;
    padding-left: 16px;
}

@-moz-keyframes rotatecircle {
    from{ border-width:0px;
        border-color:transparent; }
    to{ border-width:6px;
        border-color:rgba(0,0,0,0.5); }
}

@-webkit-keyframes rotatecircle {
    from{ border-width:0px;
        border-color:transparent; }
    to{ border-width:6px;
        border-color:rgba(0,0,0,0.5); }
}
.ranking-background{
    background-color: #a0a0a021 !important;
}

.geci{
    filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
}
.geci::before {
    content: "Read this -";
}
.csicska{
    backdrop-filter: blur(10px);
}
.csicska::before {
    content: "Read this -";
}

.bg-kinyeri-orange{
    background-color: #f4582a !important;
}


.button {
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.button button {
    padding: 8px 16px;
    border: none;
    background: none;
    outline: none;

}

.button svg {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.button path {
    stroke: #333131;
    stroke-width: 8px;
    stroke-dasharray: 0 1500;
    animation: draw 1.5s forwards;
}

.pointer{
    cursor: pointer;
}



@keyframes draw {
    from {
        stroke-dasharray: 0 1500;
    }

    to {
        stroke-dasharray: 1500 1500;
    }
}
.kinyeri-delete-message, .kinyeri-delete-comment{
    cursor: pointer;
}
.btn-success-custom{
    background-color: #63c663 !important;
}
.custom-border-color
{
    border: 1px solid #616062 !important;
}
.span_user_points{
    color: #f9f9f9 !important;
    font-size: 5vw;
    line-height: revert;
}



@media (min-width: 480px) {
    .span_user_points{
        color: white !important;
        font-size: 3vw;
        line-height: revert;
    }
}
@media (min-width: 768px) {
    .span_user_points{
        color: white !important;
        font-size: 1.6vw;
        line-height: revert;
    }
}
@media (min-width: 1024px) {
    .span_user_points{
        color: white !important;
        font-size: 0.8vw;
        line-height: revert;
    }
}
@media (min-width: 1200px) {
    .span_user_points{
        color: white !important;
        font-size: 0.9vw;
        line-height: revert;
    }
}
@media (min-width: 1600px) {
    .span_user_points{
        color: white !important;
        font-size: 1vw;
        line-height: revert;
    }
}
.kinyeri-green{
   color: #63c663 !important;
}
.kinyeri-red{
    color: #e20c0c !important;
}
.bet-button{
    background-color: #2d2d2d !important;
}
.custom-h1
{
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
}
.rules-text
{
    color: #4c4c4c !important;
    line-height: 2em !important;
    box-sizing: border-box;
    font-weight: normal !important;
    font-family: 'Rubik', sans-serif;
}
.affiliateStyle{
    border-radius: 4px !important;
    background-color: #2d2d2d !important;

}
.alertv2{
    padding-right: 20px !important;
    padding-left: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.paypalSkrillAlert{
    padding: 5px;
    border-radius: 4px;
    background-color: #f4582a;
    text-align: center;
    margin-top: 5px;
}
.kinyer-input{
    border-radius: 0px !important;
    border-color: #f4582a !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
}
.kinyer-input:focus-visible{
    border-radius: 0px !important;
    border-color: #f4582a !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
}
*,*:focus,*:hover{
    outline:none;
}
.amount-kinyeri{
    position: relative;
}
.amount-kinyeri::after{
    content: "";
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: 19px;
    left: 0;
}
.tooltip-kinyeri {
    position: relative;
    display: inline-block;
}

.tooltip-kinyeri .tooltiptext-kinyeri {

    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    transition: opacity 0.3s;
}

.tooltip-kinyeri .tooltiptext-kinyeri::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.index-text-size{
    font-size: 3vw !important;
}

hr {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    border: 0 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}


.tip {
    background: #2d2d2d;
    padding: 20px;
    border: 1px solid #2d2d2d;
    text-decoration:  none !important;
    border-radius: 5px;
    position: relative;
    color: white !important;
    text-align: center;
    box-shadow: 0 0 3px #2d2d2d;
}

.tip:before, .tip:after {
               position: absolute;
               content: "";
               display: block;
    text-decoration:  none !important;
           }

.tip:before {
     right: 20px;
     z-index: 2;
     bottom: -10px;
     border-top: 10px solid #2d2d2d;
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
    text-decoration:  none !important;
 }

.tip:after {
     right: 19px;
     z-index: 1;
     bottom: -11px;
     border-top: 11px solid #2d2d2d;
     border-left: 11px solid transparent;
     border-right: 11px solid transparent;
    text-decoration:  none !important;
 }
.vs-text
{
    font-size: 17vh;
}
.text-white:active{
    color: #ffffff !important;
}
.dropdown-kinyeri {

}

.dropdown-content-kinyeri {
    display: none;
    position: absolute;
    background-color: #2d2d2d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-kinyeri:hover .dropdown-content-kinyeri {
    display: block;
}
.real-white{
    color:white !important;
}
.real-white:hover{
    color:white !important;
}
.admin-header{
    background-color: #212529;
    margin: 1vw;
    padding: 0.8rem;
    border-radius: 9px;
}
.whatever{
    background-color: whitesmoke !important;
    cursor: pointer;
}

#match-container input[type=checkbox]{
    display: none !important;
}

#match-container input[type=checkbox]:checked + .whatever{
    background-color: #28a745 !important;
}
.div-disabled{
    pointer-events: none;
    opacity: 0.4;
}
.matches-save{
    position: fixed;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 100%;
    z-index: 1;
}
.odds-button{
    background-color: #147b45;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: inherit;
    display: inline-block;
    padding: 1px 7px;
    text-decoration: none;
    margin-left: 5px;
    text-decoration:none !important;
    cursor: pointer;
    font-weight: 400 !important;
}
.odds-button:empty{
    display: none;
}
.odds-text:empty{
    display: none;
}
.odds-text{
    color: #08dc08 !important;
    cursor: inherit;
    display: inline-block;
    text-decoration: none;
    font-weight: 500 !important
}
.odds-text-profile{
    color: white !important;
    cursor: inherit;
    display: inline-block;
    text-decoration: none;
    font-weight: 600 !important
}
.odds-text-profile:empty{
    display: none;
}