<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title>Kinyeri.hu  </Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
    <object th:include="fragments/kinyeri-meta:: kinyeri-meta" th:remove="tag" />


</head>
<body>
<div class="container-fluid d-none d-md-inline-block justify-content-center  text-center">
    <div class="col-12">
        <div class="row">
            <span class="mt-4 mt-md-5 mb-2 w-100  font-weight-bold h1">Közösségi tippadás menete</span>
<!--            <span class="mt-3 mb-3 w-100 text-uppercase font-weight-bold h5">AMELYIK KIMENETELEKRE A LEGTÖBB PONTOT ÉRŐ SZAVAZATOK ÉRKEZNEK AZT A MÉRKŐZÉS KEZDETE ELŐTTI 4-8 ÓRÁVAL TIPPÉ KONVERTÁLJUK AMIRŐL ÉRTESÍTÉST KÜLDÜNK FELIRATKOZÓINKNAK!</span>-->
            <span class="mt-3 mb-2 w-100  font-weight-bold h5">Az idő elteltével minél magasabb a találati arányod, annál több pontot ér a szavazatod</span>
            <span class="mt-1 mb-2 w-100  font-weight-bold h5">Ennek köszönhetően minél régebb óta üzemel az oldal, annál pontosabb tippeket adhatunk egymásnak.. <a href="/registration" class="to-registration">további részletek</a></span>
        </div>
    </div>
</div>

<div class="d-md-none mt-4 mt-md-5 justify-content-center text-center">
    <div class="col-12">
        <div class="row m-0 p-0">
            <span class="col-12 m-0 p-0 mt-0 mb-1   font-weight-bold h5">Közösségi tippadás menete</span>
            <span class=" col-12 m-0 p-0  mt-2 mb-1  text-center font-weight-bold index-text-size">Az idő elteltével minél magasabb a találati arányod, annál több pontot ér a szavazatod.
            Ennek köszönhetően minél régebb óta üzemel az oldal, annál pontosabb tippeket adhatunk egymásnak.. <a href="/registration" class="to-registration">további részletek</a></span>
        </div>
    </div>
</div>

<div class="w-100 m-0 p-0  d-none d-md-inline-block">
    <div class="col-12 m-0 p-0 mt-4 mb-2 justify-content-center text-decoration-none d-flex">
        <a class="tip " href="/affiliate">
            Keress pénzt affiliate programunkkal! Életre szóló 50% jutalék.
        </a>
    </div>
</div>

<div class="w-100 m-0 p-0  d-md-none">
<div class="col-12  m-0 p-0 mt-2 mb-2 justify-content-center text-decoration-none d-flex">
    <a class="tip" href="/affiliate">
        <small class="d-flex justify-content-center">Keress pénzt affiliate programunkkal!</small><small class="d-flex justify-content-center"> Életre szóló 50% jutalék.</small>
    </a>
</div>
</div>


<div class="col-12 mt-4 d-none d-md-inline-block">
    <div class="w-100">
        <div class="row d-flex justify-content-between align-content-between">
            <div class="col-md-6 text-left p-d-flex p-justify-content-center">
                <a href="/tegnapi" class="btn h1 kinyeri-orange-button text-white" ><span class="h1" uk-icon="chevron-double-left"></span>Tegnapi mérkőzések</a>
            </div>
            <div class="col-md-6 text-right p-d-flex p-justify-content-center">
                <a href="/holnapi" class="btn h1 kinyeri-orange-button text-white" >Holnapi mérkőzések<span class="h1" uk-icon="chevron-double-right"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="col-12 m-0 p-0 mt-4 d-md-none">
    <div class="row m-0 p-0 text-center justify-content-center">
        <div class="col-6 p-0 m-0">
            <a href="/tegnapi" class="btn-sm h1 kinyeri-orange-button text-white" ><span class="h2" uk-icon="chevron-double-left"></span>Tegnapi mérkőzések</a>
        </div>
        <div class="col-6 p-0 m-0">
            <a href="/holnapi" class="btn-sm h1 kinyeri-orange-button text-white" >Holnapi mérkőzések<span class="h2" uk-icon="chevron-double-right"></span></a>
        </div>

    </div>
</div>


    <div sec:authorize="isAuthenticated()" id="hideMe" th:text="${user.getUserId()}" class="d-none">
    </div>


    <div th:if="${todayMatches.isEmpty()}" class="min-vh-50">
        <div class="row p-0 m-0 justify-content-center text-center">
            <div class="col-12 m-0 p-0 text-center mt-4">
                <span class="h1 w-center fas fa-frown text-dark"></span>
            </div>
            <div class="col-12 m-0 p-0 text-center">
                <span class="font-weight-bolder h-1 d-none d-md-inline-block w-center mt-2 m-md-0">A mai napra nincsenek szavazásra bocsájtott mérkőzések</span>
                <span class="font-weight-bolder h6 d-md-none w-center mt-2 mt-md-0">A mai napra nincsenek szavazásra bocsájtott mérkőzések</span>
            </div>
        </div>


    </div>
    <div th:unless="${todayMatches.isEmpty()}" class="">
            <th:each th:each=" match : ${todayMatches}">


                <div class="container mt-4 mt-md-7 mb-5 rounded">
                        <div class="d-flex justify-content-center">
                            <div class="col-md-9">
                                <div class="card shadow-lg rounded">
                                    <div class="card-header bg-white">
                                        <div th:id="${match.getId()}" class="">
                                            <div class="row">
                                                <div class="col-sm-12 text-right">
                                                    <!-- <span class="h1" uk-icon="triangle-down"></span> -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-8 mb-2">
                                                    <div class="row">
                                                        <div th:if="${match.getCloseTime().isBefore(now)}" class="col-sm-12 text-center">
                                                            <div th:if="${match.getResult()!=null}" class="col-sm-12 text-center">
                                                               <span class="d-flex justify-content-center">
                                                                <span class="text-dark font-weight-bolder">
                                                                <svg class="b398d" width="19" viewBox="0 0 32 32"><path d="M11 8v10l11-5-11-5zM23 27H9v3h14v-3z" fill="black"></path><path d="M0 2v22h32V2H0zm29 19H3V5h26v16z" fill="black"></path></svg>
                                                                <small>Lezárt</small>
                                                                </span>
                                                            </span>
                                                            </div>
                                                            <div th:unless="${match.getResult()!=null}" class="col-sm-12 text-center">
                                                               <span class="d-flex justify-content-center">
                                                                <span class="text-dark font-weight-bolder">
                                                                <svg class="b398d" width="19" viewBox="0 0 32 32"><path d="M11 8v10l11-5-11-5zM23 27H9v3h14v-3z" fill="black"></path><path d="M0 2v22h32V2H0zm29 19H3V5h26v16z" fill="black"></path></svg>
                                                                <small>Vége</small>
                                                                </span>
                                                            </span>
                                                            </div>
                                                        </div>
                                                        
                                                        <div th:if="${now.isBefore(match.getCloseTime()) &&  now.isAfter(match.getMatchTime())}" class="col-sm-12 text-center">

                                                            <span class="d-flex justify-content-center">
                                                                <a class="text-decoration-none text-dark font-weight-bolder" target="_blank" th:href="${reflink.getStreamReflink()}">
                                                                <svg class="b398d" width="19" viewBox="0 0 32 32"><path d="M11 8v10l11-5-11-5zM23 27H9v3h14v-3z" fill="black"></path><path d="M0 2v22h32V2H0zm29 19H3V5h26v16z" fill="black"></path></svg>
                                                                <small>Elkezdődött</small>
                                                                </a>
                                                            </span>

                                                        </div>
                                                        <div th:if="!${now.isAfter(match.getMatchTime())}" class="col-sm-12 text-center">

                                                            <span class="d-flex justify-content-center">
                                                                <a class="text-decoration-none text-dark font-weight-bolder" target="_blank" th:href="${reflink.getStreamReflink()}">
                                                                <svg class="b398d" width="19" viewBox="0 0 32 32"><path d="M11 8v10l11-5-11-5zM23 27H9v3h14v-3z" fill="#3AAA35"></path><path d="M0 2v22h32V2H0zm29 19H3V5h26v16z" fill="#3AAA35"></path></svg>
                                                                <small th:text="'Ma '+${#temporals.format(match.getMatchTime(), 'HH:mm')}"></small>
                                                                </a>
                                                            </span>
                                                        </div>

                                                        <div class="col-sm-4 text-center p-0 m-0 pt-2 pb-2">
                                                            <span class="h5" th:text="${match.getHomeTeam().getName()}"></span>
                                                        </div>
                                                        <div class="col-sm-4 text-center p-0 m-0 pt-md-2 pb-md-2 ">
                                                            <span class="h5">-</span>
                                                        </div>
                                                        <div class="col-sm-4 text-center p-0 m-0 pt-2 pb-2">
                                                            <span class="h5" th:text="${match.getVisitorTeam().getName()}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body m-0 p-0">
                                        <form th:id="form-+${match.getId()}" class="kinyeri-tipp-form m-0 p-0">
                                            <div th:switch="${match.getMatchHVDDto().getVoted()}">
                                                <div th:case="${T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H}">
                                                    <div class="ml-3 mr-3 mt-3">
                                                        <div class="row">
                                                            <div class="col-sm-4 text-center button contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="h" />
                                                                    <div class="content">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getHome()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Hazai</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-home" th:text="${match.getMatchHVDDto().getHome()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getHome()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Hazai</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                                </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-home" th:text="${match.getMatchHVDDto().getHome()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                                <svg class="mySvg" viewBox="0 0 500 150" preserveAspectRatio="none">
                                                                    <path fill="none" d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7" />
                                                                </svg>
                                                            </div>
                                                            <div class="col-sm-4 text-center contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="d" />
                                                                    <div class="content">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getDraw()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Döntetlen</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-draw" th:text="${match.getMatchHVDDto().getDraw()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getDraw()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Döntetlen</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null }" class="col-12 h5">
                                                                                <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                            </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-draw" th:text="${match.getMatchHVDDto().getDraw()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4 text-center contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="v" />
                                                                    <div class="content">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getVisitor()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Vendég</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-visitor" th:text="${match.getMatchHVDDto().getVisitor()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getVisitor()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Vendég</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                                </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-visitor" th:text="${match.getMatchHVDDto().getVisitor()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div></div>
                                                <div th:case="${T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D}">
                                                    <div class="ml-3 mr-3 mt-3">
                                                        <div class="row">
                                                            <div class="col-sm-4 text-center contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="h" />
                                                                    <div class="content ">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getHome()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Hazai</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-home" th:text="${match.getMatchHVDDto().getHome()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getHome()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Hazai</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null }" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                                </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-home" th:text="${match.getMatchHVDDto().getHome()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4 text-center button contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="d" />
                                                                    <div class="content">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getDraw()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Döntetlen</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-draw" th:text="${match.getMatchHVDDto().getDraw()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getDraw()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Döntetlen</span>

                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                                </div>

                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-draw" th:text="${match.getMatchHVDDto().getDraw()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                                <svg class="mySvg" viewBox="0 0 500 150" preserveAspectRatio="none">
                                                                    <path fill="none" d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7" />
                                                                </svg>

                                                            </div>
                                                            <div class="col-sm-4 text-center contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="v" />
                                                                    <div class="content">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getVisitor()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Vendég</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-visitor" th:text="${match.getMatchHVDDto().getVisitor()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getVisitor()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Vendég</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                                </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-visitor" th:text="${match.getMatchHVDDto().getVisitor()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div></div>
                                                <div th:case="${T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V}">
                                                    <div class="ml-3 mr-3 mt-3">
                                                        <div class="row">
                                                            <div class="col-sm-4 text-center contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="h" />
                                                                    <div class="content ">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getHome()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Hazai</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-home" th:text="${match.getMatchHVDDto().getHome()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getHome()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Hazai</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null }" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                                </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-home" th:text="${match.getMatchHVDDto().getHome()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4 text-center contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="d" />
                                                                    <div class="content">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getDraw()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Döntetlen</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-draw" th:text="${match.getMatchHVDDto().getDraw()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getDraw()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Döntetlen</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                                </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-draw" th:text="${match.getMatchHVDDto().getDraw()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4 text-center button contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="v" />
                                                                    <div class="content">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getVisitor()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Vendég</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-visitor" th:text="${match.getMatchHVDDto().getVisitor()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getVisitor()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Vendég</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V)}"><i class="fas fa-times kinyeri-red"></i></span>

                                                                                </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-visitor" th:text="${match.getMatchHVDDto().getVisitor()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                                <svg class="mySvg" viewBox="0 0 500 150" preserveAspectRatio="none">
                                                                    <path fill="none" d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div></div>
                                                <div th:case="*">
                                                    <div class="ml-3 mr-3 mt-3">
                                                        <div class="row">
                                                            <div class="col-sm-4 text-center contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="h" />
                                                                    <div class="content">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getHome()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Hazai</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-home" th:text="${match.getMatchHVDDto().getHome()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getHome()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Hazai</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                                </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsH(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-home" th:text="${match.getMatchHVDDto().getHome()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4 text-center contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="d" />
                                                                    <div class="content">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getDraw()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Döntetlen</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-draw" th:text="${match.getMatchHVDDto().getDraw()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getDraw()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Döntetlen</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                                </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsD(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-draw" th:text="${match.getMatchHVDDto().getDraw()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4 text-center contentv2">
                                                                <label class="kinyeri-custom-radio">
                                                                    <input type="radio" name="radioName" value="v" />
                                                                    <div class="content">
                                                                        <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getVisitor()}" class="kinyeri-oragen-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Vendég</span>
                                                                                <span class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                <span th:id="${match.getId()}+-visitor" th:text="${match.getMatchHVDDto().getVisitor()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=match.getMatchHVDDto().getVisitor()}" class="kinyeri-oragen-cube kinyeri-yellow-cube">
                                                                            <div class="row mt-3 mb-3">
                                                                                <span class="kinyeri-tipp-one col-12 h5 font-weight-bold">Vendég</span>
                                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null }" class="col-12 h5">
                                                                                    <span class="kinyeri-tipp-one-odds ml-4 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>
                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                                </div>
                                                                                <span th:unless="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold" th:text="${#numbers.formatDecimal(match.getOddsV(), 0, 'COMMA', 2, 'POINT')}"></span>

                                                                                <span th:id="${match.getId()}+-visitor" th:text="${match.getMatchHVDDto().getVisitor()}+'%'" class="kinyeri-tipp-one-odds col-12 h5 font-weight-bold"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div th:if="${match.getMatchReflink()!=null}" class="row p-0 m-0 w-100 justify-content-center mt-2">
                                                <a th:href="${match.getMatchReflink()}" target="_blank" class="text-decoration-none btn bet-button text-white"><small>Fogadás leadása</small><small class="fas fa-coins ml-1"></small></a>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col text-center">
                                                    <div th:if="${match.getMatchHVDDto().getMaxWinRate()!=0}" th:id="${match.getId()}+-expectedResultDiv" class="text-center d-inline-block">
                                                        <span th:id="${match.getId()}+-expectedResult" class="font-weight-bolder"></span>
                                                        <span th:if="${match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getHome() && match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getDraw() && match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getVisitor()}" class="font-weight-bolder">KISZÁMÍTHATATLAN A MÉRKŐZÉS KIMENETELE</span>
                                                        <div th:unless="${match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getHome() && match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getDraw() && match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getVisitor()}">
                                                            <span th:if="${(match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getHome() && match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getDraw()) || (match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getHome() && match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getVisitor()) || (match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getDraw() && match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getVisitor())}" class="font-weight-bolder">Várható végkimenetel: Kétesélyes</span>
                                                            <span th:unless="${(match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getHome() && match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getDraw()) || (match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getHome() && match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getVisitor()) || (match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getDraw() && match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getVisitor())}" class="font-weight-bolder">
                                                            <span th:if="${match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getHome()}" class="">Várható végkimenetel: Hazai
                                                                <a th:href="${match.getMatchReflink()}" th:text="${match.getOddsH().toString().length()==3 ? match.getOddsH()+'0' : match.getOddsH()}" class="odds-button text-white"></a>
                                                                <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null}" class="d-inline">
                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).H)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                </div>

                                                            </span>
                                                            <span th:if="${match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getDraw()}" class="">Várható végkimenetel: Döntetlen
                                                                <a th:href="${match.getMatchReflink()}"  th:text="${match.getOddsD().toString().length()==3 ? match.getOddsD()+'0' : match.getOddsD()}" class="odds-button text-white"></a>
                                                                  <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null }" class="d-inline">
                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).D)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                  </div>
                                                            </span>
                                                            <span th:if="${match.getMatchHVDDto().getMaxWinRate()==match.getMatchHVDDto().getVisitor()}" class="">Várható végkimenetel: Vendég
                                                                <a th:href="${match.getMatchReflink()}" th:text="${match.getOddsV().toString().length()==3 ? match.getOddsV()+'0' : match.getOddsV()}" class="odds-button text-white"></a>
                                                             <div th:if="${match.getMatchHVDDto().getMatchResultWon()!=null }" class="d-inline">
                                                                                    <span th:if="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V)}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                                    <span th:unless="${match.getMatchHVDDto().getMatchResultWon()==match.getResult() && match.getMatchHVDDto().getMatchResultWon().equals(T(brodev.hu.kinyeri.kinyeri.hu.Models.enums.MatchResult).V)}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                  </div>
                                                            </span>
                                                        </span>
                                                        </div>
                                                    </div>
                                                    <div th:unless="${match.getMatchHVDDto().getMaxWinRate()!=0}" th:id="${match.getId()}+-expectedResultDiv" class=" text-center">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-0">
                                                <div class="col">
                                                    <div class="mt-2 d-flex  justify-content-center w-100  font-weight-bold">
                                                        <div class="w-50 justify-content-center d-flex">
                                                            <div class="uk-margin text-center">
                                                                <div th:id="${match.getId()}+-bothTeam" class="d-inline">
                                                                    <span th:if="${match.getMatchHVDDto().getGoalTippHome()> 0 && match.getMatchHVDDto().getGoalTippVisitor()>0}" class="">Mindkét csapat szerez gólt: Igen </span>
                                                                    <span th:if="${match.getMatchHVDDto().getGoalTippHome()== 0 || match.getMatchHVDDto().getGoalTippVisitor()==0}" class="">Mindkét csapat szerez gólt: Nem </span>
                                                                </div>
                                                                <div class="d-inline">
                                                                    <th:block th:if="${match.bothTeamGolNo!=null && match.bothTeamGolYes !=null}">
                                                                        <a th:id="${match.getId()}+-bothTeamOdds" th:if="${match.getMatchHVDDto().getGoalTippHome()> 0 && match.getMatchHVDDto().getGoalTippVisitor()>0}" th:href="${match.getMatchReflink()}"  th:text="${match.getBothTeamGolYes() == null ? '' : match.getBothTeamGolYes().toString().length()==3 ? match.getBothTeamGolYes()+'0' : match.getBothTeamGolYes()}" target="_blank" class="odds-button text-white"></a>
                                                                        <a th:id="${match.getId()}+-bothTeamOdds" th:if="${match.getMatchHVDDto().getGoalTippHome()== 0 || match.getMatchHVDDto().getGoalTippVisitor()==0}" th:href="${match.getMatchReflink()}" th:text="${match.getBothTeamGolNo() == null ? '' : match.getBothTeamGolNo().toString().length()==3 ? match.getBothTeamGolNo()+'0' : match.getBothTeamGolNo()}" target="_blank" class="odds-button text-white"></a>
                                                                    </th:block>
                                                                    <th:block th:unless="${match.bothTeamGolNo!=null && match.bothTeamGolYes !=null}">
                                                                        <a th:id="${match.getId()}+-bothTeamOdds" class="odds-button text-white"></a>
                                                                    </th:block>
                                                                </div>
                                                                <span th:if="${match.getMatchHVDDto().getBothTeamGoalWon() != null}" class="">
                                                                        <span th:if="${match.getMatchHVDDto().getBothTeamGoalWon()}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                        <span th:unless="${match.getMatchHVDDto().getBothTeamGoalWon()}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                </span>
                                                                <div class="m-2"></div>

                                                                <span th:if="${match.getMatchHVDDto().getGoalOver() == 0}" th:id="${match.getId()}+-goalOver" th:text="'Várható gólok száma: 1.5 Alatt'" class=""></span>

                                                                <span th:if="${match.getMatchHVDDto().getGoalOver() == 1}" th:id="${match.getId()}+-goalOver" th:text="'Várható gólok száma: 2.5 Alatt'" class=""></span>

                                                                <span th:if="${match.getMatchHVDDto().getGoalOver() == 2}" th:id="${match.getId()}+-goalOver" th:text="'Várható gólok száma: 2.5 Alatt'" class=""></span>

                                                                <span th:if="${match.getMatchHVDDto().getGoalOver() == 3}" th:id="${match.getId()}+-goalOver" th:text="'Várható gólok száma: 2.5 Felett'" class=""></span>

                                                                <span th:if="${match.getMatchHVDDto().getGoalOver() == 4}" th:id="${match.getId()}+-goalOver" th:text="'Várható gólok száma: 3.5 Felett'" class=""></span>

                                                                <span th:if="${match.getMatchHVDDto().getGoalOver() == 5}" th:id="${match.getId()}+-goalOver" th:text="'Várható gólok száma: 3.5 Felett'" class=""></span>

                                                                <span th:if="${match.getMatchHVDDto().getGoalOver() == 6}" th:id="${match.getId()}+-goalOver" th:text="'Várható gólok száma: 4.5 Felett'" class=""></span>

                                                                <span th:if="${match.getMatchHVDDto().getGoalOver() == 7}" th:id="${match.getId()}+-goalOver" th:text="'Várható gólok száma: 5.5 Felett'" class=""></span>

                                                                <span th:if="${match.getMatchHVDDto().getGoalOver() >= 8}" th:id="${match.getId()}+-goalOver" th:text="'Várható gólok száma: 6.5 Felett'" class=""></span>


                                                                <a th:if="${match.getMatchHVDDto().getGoalOver() == 0}" th:id="${match.getId()}+-goalOverOdds" th:href="${match.getMatchReflink()}" th:text="${match.getUnder1500() == null ? '' :  match.getUnder1500().toString().length()==3 ? match.getUnder1500()+'0' : match.getUnder1500()}"  target="_blank" class="odds-button text-white"></a>

                                                                <a th:if="${match.getMatchHVDDto().getGoalOver() == 1}" th:id="${match.getId()}+-goalOverOdds" th:href="${match.getMatchReflink()}" th:text="${match.getUnder2500() == null ? '' : match.getUnder2500().toString().length()==3 ? match.getUnder2500()+'0' : match.getUnder2500()}"   target="_blank" class="odds-button text-white"></a>

                                                                <a th:if="${match.getMatchHVDDto().getGoalOver() == 2}" th:id="${match.getId()}+-goalOverOdds" th:href="${match.getMatchReflink()}" th:text="${match.getUnder2500() == null ? '' : match.getUnder2500().toString().length()==3 ? match.getUnder2500()+'0' : match.getUnder2500()}"   target="_blank" class="odds-button text-white"></a>

                                                                <a th:if="${match.getMatchHVDDto().getGoalOver() == 3}" th:id="${match.getId()}+-goalOverOdds" th:href="${match.getMatchReflink()}" th:text="${match.getOver2500() == null ? '' : match.getOver2500().toString().length()==3 ? match.getOver2500()+'0' : match.getOver2500()}"  target="_blank" class="odds-button text-white"></a>

                                                                <a th:if="${match.getMatchHVDDto().getGoalOver() == 4}" th:id="${match.getId()}+-goalOverOdds" th:href="${match.getMatchReflink()}" th:text="${match.getOver3500() == null ? '' : match.getOver3500().toString().length()==3 ? match.getOver3500()+'0' : match.getOver3500()}" target="_blank" class="odds-button text-white"></a>

                                                                <a th:if="${match.getMatchHVDDto().getGoalOver() == 5}" th:id="${match.getId()}+-goalOverOdds" th:href="${match.getMatchReflink()}" th:text="${match.getOver3500() == null ? '' : match.getOver3500().toString().length()==3 ? match.getOver3500()+'0' : match.getOver3500()}" target="_blank" class="odds-button text-white"></a>

                                                                <a th:if="${match.getMatchHVDDto().getGoalOver() == 6}" th:id="${match.getId()}+-goalOverOdds" th:href="${match.getMatchReflink()}" th:text="${match.getOver4500() == null ? '' : match.getOver4500().toString().length()==3 ? match.getOver4500()+'0' : match.getOver4500()}"  target="_blank" class="odds-button text-white"></a>

                                                                <a th:if="${match.getMatchHVDDto().getGoalOver() == 7}" th:id="${match.getId()}+-goalOverOdds" th:href="${match.getMatchReflink()}" th:text="${match.getOver5500() == null ? '' : match.getOver5500().toString().length()==3 ? match.getOver5500()+'0' : match.getOver5500()}"  target="_blank" class="odds-button text-white"></a>

                                                                <a th:if="${match.getMatchHVDDto().getGoalOver() >= 8}" th:id="${match.getId()}+-goalOverOdds" th:href="${match.getMatchReflink()}" th:text="${match.getOver6500() == null ? '' : match.getOver6500().toString().length()==3 ? match.getOver6500()+'0' : match.getOver6500()}"  target="_blank" class="odds-button text-white"></a>


                                                                <span th:if="${match.getMatchHVDDto().getGoalOverWon() != null}" class="">
                                                                    <span th:if="${match.getMatchHVDDto().getGoalOverWon()}"><i class="fas fa-check kinyeri-green"></i></span>
                                                                    <span th:unless="${match.getMatchHVDDto().getGoalOverWon()}"><i class="fas fa-times kinyeri-red"></i></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="justify-content-center text-center">
                                                        <small class="font-weight-bolder ">Várható pontos végeredmény:</small>
                                                        <div class="text-center justify-content-center w-100 p-2">
                                                            <small th:id="${match.getId()}+-goalHomeVsVisitor" th:text="${#strings.arraySplit(match.getMatchHVDDto().getGoalTippHome(),'.')[0]}+' - '+${#strings.arraySplit(match.getMatchHVDDto().getGoalTippVisitor(),'.')[0]}" class="font-weight-bolder"></small>
                                                        </div>
                                                        <div th:if="${match.getResult()!=null}" class="text-center justify-content-center w-100 p-2">
                                                            <small th:text="'Végeredmény: '+${match.getHomeGoalQty()}+' - '+${match.getVisitorGoalQty()}" class="font-weight-bolder"></small>
                                                            <span th:if="${(''+match.getVisitorGoalQty()==#strings.arraySplit(match.getMatchHVDDto().getGoalTippVisitor(),'.')[0]) && ''+match.getHomeGoalQty()==#strings.arraySplit(match.getMatchHVDDto().getGoalTippHome(),'.')[0]}"><i class="fas fa-check kinyeri-green"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2" th:if="${!now.isAfter(match.getMatchTime())}">
                                                <div class="col">
                                                    <div class=" justify-content-center text-center ">
                                                        <span class="h5 section-title">Pontos végeredmény tipped</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-1 d-md-none" th:if="${!now.isAfter(match.getMatchTime())}">
                                                <div class="col text-center">
                                                    <small>A gólszám rubrikák kitöltése után a tipp leadása gombra kattintva szavazhatsz</small>
                                                </div>
                                            </div>

                                            <div class="row mt-3" th:if="${!now.isAfter(match.getMatchTime())}">
                                                <div class="col">
                                                    <div class="text-center">
                                                        <div class="containter">
                                                            <div class="row">
                                                                <div class="col-sm-4 text-center justify-content-center d-flex flex-column">
                                                                    <div class="text-center justify-content-center row w-100 p-0 m-0 d-flex">
                                                                        <small class="w-100 mb-1">Hazai csapat gólszáma:</small>
                                                                        <input class="form-control w-75 text-center" min="0" name="homeQty" value="1" max="9"  step="0" type="number" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <small class="d-none d-md-inline-block">A gólszám rubrikák kitöltése után a tipp leadása gombra kattintva szavazhatsz</small>
                                                                </div>
                                                                <div class="col-sm-4 text-center justify-content-center d-flex flex-column">
                                                                    <div class="text-center justify-content-center w-100 p-0 m-0 d-flex row">
                                                                        <small class="w-100 mb-1">Vendég csapat gólszáma:</small>
                                                                        <input class="form-control w-75 text-center" min="0" name="visitorQty" value="1"  max="9" step="0" type="number" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ml-3 mr-3">
                                                <div class="row mt-4 pb-0 mb-0">
                                                    <div class="col text-left">
                                                        <p class="card-text mb-3"><small class="text-muted" th:text="'Utoljára firssítve '+${match.getInsertTimeString()}"></small></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div sec:authorize="isAuthenticated()"  class="row" th:if="${!now.isAfter(match.getMatchTime())}">
                                                <div class="col">
                                                    <button type="submit" class="pointer-event kinyeri-user-tipp-save pb-2 pt-2 w-100"><span class="h5">Tipp leadása</span></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="card-footer m-0 p-0 bg-kinyeri-orange border-0">


                                        <div  class="row">
                                            <div class="col">
                                                <div sec:authorize="!isAuthenticated()" class="text-center mb-3 mt-3">
                                                    <span class="text-white font-weight-bolder">Leadnád a tipped vagy kommentet <span class="h1" uk-icon="commenting"></span> írnál? <a href="/login" class="text-black font-weight-bolder">Jelentkezz be!</a> </span>
                                                </div>
                                                <div sec:authorize="isAuthenticated()" class="d-flex justify-content-center w-100 font-weight-bold flex-column" >
                                                    <div class="comment h-100 w-100 m-0 p-0">
                                                        <div class="kinyeri-comment-title text-white text-center font-weight-bolder pt-2 pb-2" style="background-color: #2d2d2d">
                                                            <a href="https://b1.trickyrock.com/redirect.aspx?pid=5786248&bid=36523&redirectURL=https://hu1.unibet.com/promotions/sportsbook-promotions" class="text-decoration-none text-white">
                                                                Felhasználható bónuszok<span>  <span class="kinyeri-comment-qty uk-badge  ml-1 mb-1"  style="background-color:#147b45">3+</span></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div sec:authorize="isAuthenticated()" class="d-flex justify-content-center w-100 font-weight-bold flex-column">
                                                    <div th:id="commentQty-+${match.getId()}" class="comment h-100 w-100 m-0 p-0">
                                                        <div class="kinyeri-comment-title bg-black-100 text-white text-center font-weight-bolder pt-2 pb-2">Kommentek megtekintése<span><span class="kinyeri-comment-qty ml-2"></span></span></div>
                                                        <div class="kinyeri-comment-section">
                                                            <div class="h-75">
                                                                <div id="comment" class="h-100">
                                                                    <div id="comments">
                                                                        <div class="comment-history-button h-15">
                                                                            <button class="kinyeri-comment-history-button bg-black-100 text-white w-100 pt-2 pb-2 border-black"><span class="pt-2 pb-2">Korábbi kommentek betöltése</span></button>
                                                                        </div>
                                                                        <div th:id="comment-texts-+${match.getId()}" class="m-2 overflow-auto h-85">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div  class="comment-text-box w-100">
                                                                <form>
                                                                    <div class="col-12">
                                                                        <div class="row">
                                                                            <div class="col-8 m-0 p-0">
                                                                                <input type="text" th:id="commentText+${match.getId()}" autocomplete="off" class="w-100 p-2 border-black" placeholder="Üzenet..." />
                                                                            </div>
                                                                            <div class="col-4 m-0 p-0">
                                                                                <button class="kinyeri-comment-btn bg-black-100 w-100 text-white h-100  rounded-0 rounded-right border-black" type="submit">Küldés</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



    </th:each>
    </div>



<div sec:authorize="isAuthenticated()" class="kinyeri-chat-container">


    <script th:if="${user.isMod()}" language="JavaScript" src="/js/mod-chat.js?v8" type="text/javascript" charset="UTF-8"></script>
    <script th:unless="${user.isMod()}" language="JavaScript" src="/js/chat.js?v8" type="text/javascript" charset="UTF-8"></script>
    <script th:if="${user.isMod()}"  language="JavaScript" src="/js/mod.js?v2" type="text/javascript" charset="UTF-8"></script>


<!--    <button class="open-button hide-mobile" id="pcChatButton" onclick="openForm()">Chat</button>-->

<!--    <i class="fas fa-comment-dots open-button-icon fa-2x hide-pc" onclick="openForm()"></i>-->

    <div class="chat-popup bg-black-100" id="myForm">
        <div class="col-12 text-left">
            <button type="button" class="btn cancel kinyeri-orange w-100" onclick="closeForm()">Chat</button>
        </div>
        <div class="form-container">
            <div class="text h-85 mr-1">
                <div id="conversation" class="table table-striped chat">
                    <div id="chat">
                        <div id="conversationButton">
                            <button id="kinyeri-history-button" class="w-100 bg-black-100 text-white border-black border-orange-top">Korábbi üzenetek betöltése<span uk-icon="history" class="ml-2"></span></button>
                            <!-- <a href="#" uk-icon="triangle-down" id="toBottomBtn" class="cd-bottom--is-visible cd-bottom--fade-out" data-abc="true"></a> -->
                        </div>
                        <div id="chatMessages" class="green">

                        </div>
                    </div>
                </div>
            </div>
            <div class="h-15 bg-black-100">
                <form id="chat-form" class="form-inline h-100">
                    <input type="text" id="textField" autocomplete="off" class="h-100 w-75 p-2 border-black"  placeholder="Üzenet...">
                    <button id="send" class="kinyeri-chat-send-btn p-2 bg-black-100 w-25 h-100 border-black text-white" type="submit">Küldés</button>
                </form>
            </div>


        </div>
    </div>

</div>



<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<script language="JavaScript" src="/js/tipp.js" type="text/javascript" charset="UTF-8"></script>




</body>
<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <object th:include="fragments/footer:: footer"  />
</footer>

</html>