<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title>Kinyeri.hu - Regisztráció </Title>
    <object th:include="fragments/header:: header" th:remove="tag" />

    <object th:include="fragments/kinyeri-meta:: kinyeri-meta" th:remove="tag" />
</head>
<body>
<div class="container mt-3 mb-3">

    <div class="row text-center align-content-center mt-5">
        <h1 class="w-100 mt-3 mb-4 h1">Regisztráció</h1>
    </div>
    <div class="row text-center align-content-center  mt-2 shadow-lg rounded mt-3">
        <div class="col-md-6 register-section-color p-5">
            <div class="row">
                <div class="col-12 ">
                    <img id="header_logo" th:src="@{'/images/header_logo_white-new.png'}"  class="header_logo pt-0 mt-0" alt=""/>
                </div>
                <div class="col-12 mt-4 text-justify">
                    <h1 class="text-white">Üdvözlünk!</h1>
                </div>
                <div class="col-12 mt-4 text-justify">
                    <h4 class="text-white">
                        A Kinyeri.hu egy mesterséges intelligenciát imitál emberek ezrei segítségével, ami lehetővé teszi, hogy napról napra jobb tippek szülessenek az oldalon az idő előrehaladtával.
                    </h4>
                </div>
                <div class="col-12 mt-4 text-justify">
                    <span class="text-white">A felhasználók szavazatai teljesítményük alapján pontokat érnek.
                        Ezeket a pontokat a rendszer összesíti és %-os értékre konvertálja.
                        A legmagasabb százalékos értéket elérő kimenetelből lesz a tipp. </span>
                </div>
            </div>

        </div>
        <div class="col-md-6 mt-0">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="col-12 mt-5 text-justify">
                        <h3 class="register-heading font-weight-bolder kinyeri-orange">Felhasználó létrehozása</h3>
                    </div>
                    <div class="col-12 text-justify">
                        <span class="text-black w-center">
                            Csatlakozz a béta teszteléshez!</span>
                        <p class="mb-1"> Hozd létre saját Kinyeri fiókodat és csatlakozz közösségünkhöz! Minél jobb tippeket adsz,
                        annál több pontot ér majd a szavazatod, 1 ponttól egészen 1000 pontig. Egy jó tippadó tippje
                        felül tudja bírálni 999 mezei látogató meglátását. Többezer felhasználóval és az idő előrehaladtával
                        A Kinyeri.hu fogja adni az ország legjobb tippjeit.
                    </p>
                    </div>
                    <form autocomplete="off"  th:action="@{/user/registration-valid}"
                          th:object="${userDto}" method="post" class="form-horizontal" role="form" id="register">
                        <div class="form-row align-items-center register-form mt-1">
                            <div class="col-md-12 offset-0 mt-4">
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-user kinyeri-orange"></i></div>
                                        </div>
                                    <input type="text" required th:field="*{username}"  placeholder="Felhasználónév" minlength="5" maxlength="23" class="form-control"/>
                                </div>
                                    <span th:if="${username}!=null" class="text-danger d-flex mb-2" th:text="${username}"></span>
                                </div>
                                <!--
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-user kinyeri-orange"></i></div>
                                        </div>
                                    <input type="text" required th:field="*{firstName}"
                                           placeholder="Keresztnév" class="form-control"/>
                                </div>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-user kinyeri-orange"></i></div>
                                        </div>
                                    <input type="text" required th:field="*{lastName}"
                                           placeholder="Vezetéknév" class="form-control"/>
                                </div>
                                </div>-->
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-lock kinyeri-orange"></i></div>
                                        </div>
                                    <input type="password" required th:field="*{password}" min="10"
                                           placeholder="Jelszó" class="form-control"/>
                                </div>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-lock kinyeri-orange"></i></div>
                                        </div>
                                    <input type="password" required th:field="*{password2}"
                                           placeholder="Jelszó újra" class="form-control"/>
                                </div>
                                    <span th:if="${password}!=null" class="text-danger d-flex mb-2" th:text="${password}"></span>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-envelope kinyeri-orange"></i></div>
                                        </div>
                                        <input type="email"  th:field="*{email}"
                                               placeholder="Email" required class="form-control"/>

                                    </div>
                                    <span th:if="${email}!=null" class="text-danger d-flex mb-2" th:text="${email}"></span>
                                </div>
                                <!--
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-birthday-cake kinyeri-orange"></i></div>
                                        </div>
                                    <input type="number" required th:field="*{yearsOld}"
                                           placeholder="Életkorod" min="0" class="form-control"/>
                                </div>
                                    <span th:if="${yearsOld}!=null" class="text-danger d-flex mb-2" th:text="${yearsOld}"></span>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-globe-europe kinyeri-orange"></i></div>
                                        </div>
                                        <input type="text" required th:field="*{country}"
                                               placeholder="Ország" value="Magyarország" min="0" class="form-control"/>
                                    </div>
                                    <span th:if="${country}!=null" class="text-danger d-flex mb-2" th:text="${country}"></span>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-address-card kinyeri-orange"></i></div>
                                        </div>
                                        <input type="number" required th:field="*{zipCode}"
                                               placeholder="Irányítószám" min="0" class="form-control"/>
                                    </div>
                                    <span th:if="${zipCode}!=null" class="text-danger d-flex mb-2" th:text="${zipCode}"></span>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-city kinyeri-orange"></i></div>
                                        </div>
                                        <input type="text" required th:field="*{city}"
                                               placeholder="Város" min="0" class="form-control"/>
                                    </div>
                                    <span th:if="${city}!=null" class="text-danger d-flex mb-2" th:text="${city}"></span>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white"><i class="fas fa-address-card kinyeri-orange"></i></div>
                                        </div>
                                        <input type="text" required th:field="*{address}"
                                               placeholder="Utca, házszám" min="0" class="form-control"/>
                                    </div>
                                    <span th:if="${address}!=null" class="text-danger d-flex mb-2" th:text="${address}"></span>
                                </div>
                                --->

                                <div class="col-auto pt-2">
                                    <div class="row p-0 m-0">
                                        <div class="col-1 p-0 m-0">
                                            <input value="true" th:field="*{emailNotification}" name="emailNotification" id="emailNotification1" type="checkbox">
                                        </div>
                                        <div class="col-11 m-0 p-0 text-justify">
                                                                                      <span><b>Igen, szeretnék ingyenes tippeket kapni </b>
<br>
                                                                                          Az oldal felhasználói a feliratkozást követően minden mérkőzés kezdete előtt tippeket kapnak.

Ezek azok a tippek, amiket az oldal a legbiztosabbnak tart a közösségi szavazás aktuális állása

alapján. Amennyiben a rendszert teljes terjedelmében szeretnéd használni, úgy a feliratkozás

elengedhetetlen. Ugyan ez érvényes a Push üzenetekre is. Később a beállítások menüpontban ki és bekapcsolhatod értesítéseid.

Az oldal bizonyos esetekben küldhet promóciókat és frissítésekkel kapcsolatos információkat is.

Adatkezelési nyilatkozatunkat és általános szerződési feltételeinket

az alábbi linken tekintheted meg: <a href="/aszf#aszf" target="_blank">ÁSZF</a> és <a href="/aszf#adatkezeles" target="_blank">Adatkezelési</a>.
                                                                                      </span>
                                        </div>
                                    </div>




                                    </div>


                                <div class="col-auto mt-5">
                                <input type="submit" class="btnRegister w-100 btn kinyeri-orange-button text-white font-weight-bold " form="register" value="Regisztráció"/>
                                <h2><span class="text-success" th:text="${successMessage}"></span></h2>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById("profile-tab").onclick = function() {
            document.getElementById("my_form").submit();
        }
    </script>
</div>
</body>
</html>