<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>A nap tippei</title>
    <style>
      body{
        font-family: Roboto,Helvetica Neue,sans-serif;
        background-color:#e8e8e8;
      }
      .green-border-on-top{
        border-top:2px solid green;
      }
      .bg-white{
        background-color:white;
      }
      .mt-1{
        margin-top:1rem;
      }
      .mb-1{
        margin-bottom:1rem;
      }
      .bg-gray{
        background-color:#e8e8e8;
      }
      .ml-1{
        margin-left:1rem;
      }
      .pt-1{
        padding-top:1rem;
      }
      .m-2{
        margin:1rem;
      }
      .d-flex{
        display:flex;
      }
      .d-block{
        display:block;
      }
      .w-80{
        width:80%;
      }
      .w-20{
        width:80%;
      }
      .w-100{
        width:100%;
      }
      .float-right{
        text-align:right;
      }
      .space-between{
        display: flex;
        justify-content: space-between;
      }
      .m-auto{
        margin: auto;
      }
      .mr-1{
        margin-right:1rem;
      }
      .p-05{
        padding:0.5rem;
      }
      .m-v-auto{
        margin-top:auto;
        margin-bottom:auto;
      }
      .bb-gray{
        border-bottom:2px solid #ededed;
      }
      .bl-gray{
        border-left:2px solid #ededed;
      }
      .text-time{
        color:#9c979d;
      }
      .text-team{
        color: #333;
        font-size: 14px;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
      }
      .bg-bet{
        font-weight: 700;
        font-size: 14px;
        background-color:#147b45;
        height: 36px;
        font-family: Roboto,Helvetica Neue,sans-serif;
      }

      .bg-which{
        font-weight: 300;
        font-size: 14px;
        height: 36px;
        font-family: Roboto,Helvetica Neue,sans-serif;
      }

      .pb-1{
        padding-bottom:1rem;
      }
      .pb-05{
        padding-bottom:0.5rem;
      }
      .pt-05{
        padding-top:0.5rem;
      }
      .mt-05{
        margin-top:0.5rem;
      }


    </style>
  </head>
  <body>


        <div class="green-border-on-top bg-white mt-1 pt-1 pb-1 d-block">
          <span class="ml-1" >
              24 Aug 2021
          </span>
        </div>
        <div class="d-flex w-100 pb-05 mt-05">
          <div class="m-auto">
            <span class="ml-1 mr-1 text-time"></span>
          </div>
          <div class="w-100 ">
            <div class="space-between">
              <div class="p-05 text-team">
                <span class="d-flex"></span>
                <span class="d-flex"></span>
              </div>
              <div class="m-v-auto mr-1">
                <a href="" class="bg-which" style="border-radius: 3px; text-decoration: none;color:gray; padding:5px; padding-left:10px; padding-right: 10px;">1&nbsp&nbsp&nbsp</a>
                <a href="" class="bg-which" style="border-radius: 3px; text-decoration: none;color:gray; padding:5px; padding-left:10px; padding-right: 10px;">X&nbsp&nbsp</a>
                <a href="" class="bg-which" style="border-radius: 3px; text-decoration: none;color:gray; padding:5px; padding-left:10px; padding-right: 10px;">2&nbsp&nbsp</a>
              </div>
            </div>
          </div>

        </div>


        <th:block th:each="match : ${matches}">

<!--            <div class="bg-white d-flex w-100 bb-gray">-->
<!--              <div class="m-auto">-->
<!--                <span class="ml-1 mr-1 text-time" th:text="${#temporals.format(match.getMatchTime(), 'yyyy.MM.dd. HH:mm')}"></span>-->
<!--              </div>-->
<!--              <div class="w-100 bl-gray">-->
<!--                <div class="space-between">-->
<!--                  <div class="p-05 text-team">-->
<!--                    <span class="d-flex" th:text="${match.getHomeTeam().getName()}"></span>-->
<!--                    <span class="d-flex" th:text="${match.getVisitorTeam().getName()}"></span>-->
<!--                  </div>-->
<!--                  <div class="m-v-auto mr-1">-->
<!--                    <a href="" class="bg-bet" style="border-radius: 3px; text-decoration: none;color:white; padding:5px; padding-left:10px; padding-right: 10px;" th:text="${match.getOddsH()}"></a>-->
<!--                    <a href="" class="bg-bet" style="border-radius: 3px; text-decoration: none;color:white; padding:5px; padding-left:10px; padding-right: 10px;" th:text="${match.getOddsD()}"></a>-->
<!--                    <a href="" class="bg-bet" style="border-radius: 3px; text-decoration: none;color:white; padding:5px; padding-left:10px; padding-right: 10px;" th:text="${match.getOddsV()}"></a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

          <div class="green-border-on-top bg-white mt-1 pt-1 pb-1 d-block">
	<span class="ml-1">
		24 Aug 2021
	</span>
          </div>
          <div class="d-flex w-100 pb-05 mt-05">
            <div class="m-auto">
              <span class="ml-1 mr-1 text-time"></span>
            </div>
            <div class="w-100 ">
              <div class="space-between">
                <div class="p-05 text-team">
                  <span class="d-flex"></span>
                  <span class="d-flex"></span>
                </div>
                <div class="m-v-auto mr-1">
                  <a href="" class="bg-which" style="border-radius: 3px; text-decoration: none;color:gray; padding:5px; padding-left:10px; padding-right: 10px;">1&nbsp&nbsp&nbsp</a>
                  <a href="" class="bg-which" style="border-radius: 3px; text-decoration: none;color:gray; padding:5px; padding-left:10px; padding-right: 10px;">X&nbsp&nbsp</a>
                  <a href="" class="bg-which" style="border-radius: 3px; text-decoration: none;color:gray; padding:5px; padding-left:10px; padding-right: 10px;">2&nbsp&nbsp</a>
                </div>
              </div>
            </div>

          </div>
          <div class="bg-white d-flex w-100 bb-gray">
            <div class="m-auto w-30 text-center">
              <span class="text-time">21:00</span>
            </div>
            <div class="w-70 bl-gray">
              <div class="space-between">
                <div class="p-05 text-team">
                  <span class="d-flex">Benefica</span>
                  <span class="d-flex">Ferencváros</span>
                </div>
                <div class="m-v-auto mr-1">
                  <a href="" class="bg-bet" style="border-radius: 3px; text-decoration: none;color:white; padding:5px; padding-left:10px; padding-right: 10px;">1.0</a>
                  <a href="" class="bg-bet" style="border-radius: 3px; text-decoration: none;color:white; padding:5px; padding-left:10px; padding-right: 10px;">1.0</a>
                  <a href="" class="bg-bet" style="border-radius: 3px; text-decoration: none;color:white; padding:5px; padding-left:10px; padding-right: 10px;">1.0</a>
                </div>
              </div>
            </div>

          </div>

        </th:block>


  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td class="container">
        <div class="content">
          <a href="https://www.kinyeri.hu/" style="text-decoration: none;"><h1>Tovább az oldalra</h1></a>
        </div>
      </td>
    </tr>
  </table>
  <br>
  </body>

</html>
