<!DOCTYPE html>
<html class="dto-table-background" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title th:text="'Kinyeri.hu - Affiliate'"></Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
    <object th:include="fragments/kinyeri-meta:: kinyeri-meta" th:remove="tag" />
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body class="bg-black-100 affiliateStyle min-vh-100">

    <div class="affiliateStyle">
    <div class="container min-vh-100 pb-5">

        <div class="row p-0 m-0 mt-5 pb-5">
            <div class="col-12 m-0 p-0">
                <div class="row p-0 m-0">
                    <div class="col-12 m-0 p-0 d-flex justify-content-center">
                        <div class="col-md-8">
                            <img  src="/images/aff.png" class="mb-3"/>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <p class="h6 text-justify text-white">
                            Affiliate programunk keretein belül minden általad behozott felhasználó után életre szóló jutalék illet.
                            Használd egyedi meghívói linkjeidet, hogy a te neved alatt íródjanak jóvá a regisztrációk. Innentől mindegy mikor, hogyan, illetve hány alkalommal vásárol tőlünk szolgáltatást az érintett tag, mert neked garantáltan jár minden tranzakció után 50% tiszta részesedés a teljes kosárértékből.
                        </p>
                        <p class="h6 text-justify text-white">
                            Most érdemes az elsők közt csatlakoznod és tagokat toboroznod mivel már 20 aktív előfizető fenntartásával is minimum havi 150.000 Ft garantált jutalék üti a markod!
                        </p>
                        <p class="h6 text-justify text-white">
                            Ügyfélszolgálat: <a href="https://www.facebook.com/kinyeri.hu">https://www.facebook.com/kinyeri.hu</a>
                        </p>
                    </div>
                    <div sec:authorize="isAnonymous()" class="col-12 justify-content-center align-items-center text-center">
                        <a class="btn btn-lg kinyeri-orange-button text-white pointer" href="/registration">Regisztrálok</a>
                    </div>
                </div>
            </div>

        </div>

        <div sec:authorize="isAuthenticated()" class="row p-0 m-0">
            <div class="col-12 mt-3">
                <div class="row p-0 m-0">
                    <div class="col-md-6 p-0 m-0">
                        <div class="col-12 text-white h4 font-weight-bold">Meghívó linkek</div>
                        <div class="col-12 mt-3 text-white">
                            <span class="d-inline-block text-truncate" id="reflinkUsername" style="max-width: 75vw;" th:text="${serverName}+'meghivo/'+${user.getUsername()}">
                            </span>

                            <div class="tooltip-kinyeri">
                                <i class="far fa-copy kinyeri-orange pointer" id="copyButtonUsername" >
                                    <span class="tooltiptext-kinyeri" style="display: none" id="toolTipUsername">Másolva</span>
                                </i>
                            </div>

                        </div>
                        <div class="col-12 text-white mt-2">
                            <div th:if="${user.getRefLink()!=null}">
                                <span class="d-inline-block text-truncate" id="reflinkGeneric" style="max-width: 75vw;" th:text="${serverName}+'meghivo/'+${user.getRefLink()}"/>

                                <div class="tooltip-kinyeri">
                                    <i class="far fa-copy kinyeri-orange pointer" id="copyButtonGeneric" >
                                        <span class="tooltiptext-kinyeri" style="display: none" id="toolTipGeneric">Másolva</span>
                                    </i>
                                </div>


                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex mt-3 mt-md-0 justify-content-md-end">
                            <div class="col-md-6 m-0 p-0">
                                <div class="d-flex text-white h4 font-weight-bold">Elérhető egyenleg</div>
                                <div class=" mt-3 text-white text-right">
                                    <span id="balanceInfo" th:text="${user.balance}==null?'0 Ft':${user.balance}+' Ft'"></span>
                                    <span id="requestPayment" class="ml-3 pl-2 pr-2 pt-0 pointer kinyeri-orange-button">Kifizetés</span>
                                </div>


                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 mt-3">
                        <div class="d-flex text-white mt-3 h4 font-weight-bold">Kifizetési beállítások</div>
                        <div class=" mt-3 text-white text-right">
                            <div id="addPaymentAddress" class="paypalSkrillAlert pointer" th:if="${user.getPaypalAddress()}=='' and ${user.getSkrillAddress()} ==''">
                                <i class="fas fa-plus"></i> Kifizetési cím megadása
                            </div>
                            <div id="editPaymentAddress" class="paypalSkrillAlert pointer" th:if="${user.getPaypalAddress()}!='' or ${user.getSkrillAddress()} !=''">
                                <i class="fas fa-plus"></i> Kifizetési cím módosítása
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-12 mt-5">
                <div class="row p-0 m-0">
                    <div class="col-12 text-white h4 font-weight-bold">Statisztika</div>

                    <div class="col-12 p-0 m-0 mt-3 mb-5">

                        <div class="row p-0 m-0">
                            <div class="col-md-3 ">
                                <span class="text-white font-weight-bolder">Megkezdett regisztrációk</span>
                                <span class="text-white d-flex" id="tmpReg" th:text="${tmpUsers}"></span>
                            </div>
                            <div class="col-md-3">
                                <span class="text-white font-weight-bolder">Befejezett regisztrációk</span>
                                <span class="text-white d-flex" id="fullReg" th:text="${fullRegUser}"></span>
                            </div>

                            <div class="col-md-3">
                                <span class="text-white font-weight-bolder">Előfizetők száma</span>
                                <span class="text-white d-flex" id="countOfSuccessPaidUser" th:text="${countOfSuccessPaidUser} == null ? 0 : ${countOfSuccessPaidUser}"></span>
                            </div>

                            <div class="col-md-3">
                                <span class="text-white font-weight-bolder">Előfizetések száma</span>
                                <span class="text-white d-flex" id="countOfSuccesPayments" th:text="${countOfSuccesPayments}"></span>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <div class="chart-container-affiliate m-auto">
                            <canvas id="myChart" width="100" height="100"></canvas>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                    </div>

                     <div class="col-12 mt-5 mt-md-5">
                         <table id="userRequestPayments" class="table table-striped display nowrap dataTable no-footer" cellspacing="0" width="100%">
                             <thead>
                             <tr>
                                 <th class="text-white">Igényelve</th>
                                 <th class="text-white">E-mail</th>
                                 <th class="text-white">Összeg</th>
                                 <th class="text-white">Típus</th>
                                 <th class="text-white">Állapota</th>
                                 <th class="text-white">Fizetve</th>
                                 <th class="text-white">Műveletek</th>
                             </tr>
                             </thead>
                             <tbody>
                             </tbody>
                         </table>
                     </div>
                </div>



                <script>
                    var tmpReg = $('#tmpReg').text();
                    var fullReg = $('#fullReg').text();
                    var countOfSuccessPaidUser = $('#countOfSuccessPaidUser').text();
                    var countOfSuccesPayments = $('#countOfSuccesPayments').text();

                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['Megkezdett regisztrációk', 'Befejezett regisztrációk','Előfizetők','Előfizetések száma'],
                            datasets: [{

                                labelColor: 'white',
                                data: [tmpReg, fullReg,countOfSuccessPaidUser,countOfSuccesPayments],
                                backgroundColor: [
                                    '#7b7b7b',
                                    '#c0c0c0',
                                    '#686868',
                                    'rgb(52,52,52)'
                                ],
                                borderColor: [
                                    '#7b7b7b',
                                    '#c0c0c0',
                                    '#686868',
                                    'rgb(52,52,52)'
                                ],
                                borderWidth: 0
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    display: false,
                                    labels: {
                                        color: 'rgb(255, 99, 132)'
                                    }
                                }
                            }
                        }
                    });
                </script>

            </div>
        </div>


    </div>
    </div>


    <div class="modal fade" id="requestPaymentModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <form id="formRequestPayment">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-kinyeri-orange">
                        <h3 class="modal-title text-white font-weight-bold" id="addModalLabel">Kifizetési kérelem</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">Aktuális egyenleg: </label>
                            <span id="currentBalance"></span>
                        </div>
                        <div class="form-group mb-0">
                            <label for="requestBalance" class="col-form-label">Amennyit ki szeretnél kérni</label>
                            <input required="required" type="number" step="1"  min="0" class="form-control" id="requestBalance" name="requestBalance" />
                            <span class="alert alert-danger alertv2 mt-2 mb-2 d-none" id="requestPaymentAlert"></span>
                        </div>
                        <div class="form-group mb-0">
                            <label for="requestBalance" class="col-form-label">Melyik számládra szeretnéd?</label>
                            <select class="form-control" required id="requestMail">
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <input type="checkbox" class="mt-2" required>
                            <label class="form-check-label">Helyes a megadott e-mail cím!</label>
                        </div>
                        <div>
                            <span><i uk-icon="info"></i><small class="ml-1">Minimum összeg 30.000 Ft</small></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark text-white" data-dismiss="modal">Bezárás</button>
                        <button type="submit" class="btn kinyeri-orange-button text-white">Igénylés</button>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <div class="modal  fade" id="addNewAddress" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <form id="newAddress">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-kinyeri-orange">
                        <h3 class="modal-title text-white font-weight-bold">Kifizetési cím</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group mb-0">
                            <label for="requestBalance" class="col-form-label">PayPal</label>
                            <input type="email" step="1"  min="0" class="kinyer-input w-100" id="paypalAddress" name="requestBalance" />

                        </div>
                        <div class="form-group mb-0">
                            <label for="requestBalance" class="col-form-label">Skrill</label>
                            <input type="email"   min="0" class="kinyer-input w-100" id="skrillAddress" name="requestBalance" />

                        </div>
                        <div class="mt-3">
                            <span><i uk-icon="info"></i><small class="ml-2">Mail cím megadás szükséges!</small></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark text-white" data-dismiss="modal">Bezárás</button>
                        <button type="submit" class="btn kinyeri-orange-button text-white">Mentés</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal  fade" id="editNewAddress" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <form id="editAddress">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-kinyeri-orange">
                        <h3 class="modal-title text-white font-weight-bold">Kifizetési cím</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group mb-0">
                            <label for="requestBalance" class="col-form-label">PayPal</label>
                            <input type="email" step="1"  min="0" class="kinyer-input w-100" id="editPaypalAddress" name="requestBalance" />

                        </div>
                        <div class="form-group mb-0">
                            <label for="requestBalance" class="col-form-label">Skrill</label>
                            <input type="email"   min="0" class="kinyer-input w-100" id="editSkrillAddress" name="requestBalance" />

                        </div>
                        <div class="mt-3">
                            <span><i uk-icon="info"></i><small class="ml-2">Mail cím megadás szükséges!</small></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark text-white" data-dismiss="modal">Bezárás</button>
                        <button type="submit" class="btn kinyeri-orange-button text-white">Mentés</button>
                    </div>
                </div>
            </div>
        </form>
    </div>




    <script sec:authorize="isAuthenticated()" language="JavaScript" src="/js/affiliate.js" type="text/javascript" charset="UTF-8"></script>

<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <object th:include="fragments/footer:: footer"  />
</footer>

</body>
</html>