<!DOCTYPE html>
<html class="dto-table-background" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title th:text="KINYERI.HU"></Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
</head>
<body class="dto-table-background">


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">

</div>

<div class="container-fluid mt-5 dto-table-background min-vh-50">

    <div class="container-fluid mt-3 p-3">
        <form id="edit">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Utalási adatok</h5>

                    </div>
                    <div class="modal-body">
                        <div style="display: none" class="form-group">
                            <label for="name" class="col-form-label">Neved</label>
                            <input th:value="${bankDetail.id}" required type="text" class="form-control" id="id" name="name">
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Neved</label>
                            <input th:value="${bankDetail.name}" required type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Iban szám</label>
                            <input th:value="${bankDetail.iban}" required type="text" class="form-control" id="iban" name="iban">
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Iban szám</label>
                            <input th:value="${bankDetail.swiftCode}" required type="text" class="form-control" id="swiftCode" name="swiftCode">
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Bankszámlaszám</label>
                            <input th:value="${bankDetail.bankNumber}" required type="text" class="form-control" id="bankNumber" name="bankNumber">
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Bank neve</label>
                            <input th:value="${bankDetail.bankName}" required type="text" class="form-control" id="bankName" name="bankName">
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Telefonszámod</label>
                            <input th:value="${bankDetail.phone}" required type="text" class="form-control" id="phone" name="phone">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                            <button type="submit" class="btn btn-primary">Mentés</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>






<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script language="JavaScript" src="/js/bank-detail.js" type="text/javascript" charset="UTF-8"></script>


<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <object th:include="fragments/footer:: footer"  />
</footer>

</body>
</html>