<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title>Kinyeri.hu - Előzmények </Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
    <object th:include="fragments/kinyeri-meta:: kinyeri-meta" th:remove="tag" />

</head>
<body>

<div class="container-fluid text-center mt-4 mt-md-5 mb-5">
    <p class="h2 kinyeri-orange">
        Előzmények
    </p>
</div>


<div class="container " >
    <div class="w-100 col-12 justify-content-center m-0 p-0" id="parentDiv">

        <div class="justify-content-center d-flex" th:each="item : ${last10Match.getList()}">
            <div class="col-md-7  mb-2 mt-2">
                <div class="row d-md-none p-0 m-0">
                    <div class="col-md-7">
                        <div class="row p-0 m-0">
                            <span class="col-12 m-0 p-0" th:text="${#temporals.format(item.match.getMatchTime(), 'YYYY.MM.dd.')+' '+item.match.getHomeGoalQty()+' - '+item.match.getVisitorGoalQty()}"></span>
                        </div>
                    </div>
                </div>
                <div class="row p-0 m-0">
                    <div class="col-md-7">
                        <div class="row p-0 m-0">
                            <span class="col-12 m-0 p-0" th:text="${item.match.getHomeTeam().getName()}"></span>
                            <span class="col-12 m-0 p-0" th:text="${item.match.getVisitorTeam().getName()}"></span>
                        </div>
                    </div>
                    <div class="col-md-5 d-none d-md-inline-block text-right ">
                        <div class="row m-0 p-0">
                            <span class="col-12  m-0 p-0" th:text="${#temporals.format(item.match.getMatchTime(), 'YYYY.MM.dd.')}"></span>
                            <span class="col-12  m-0 p-0" th:text="${item.match.getHomeGoalQty()+' - '+item.match.getVisitorGoalQty()}"></span>
                        </div>
                    </div>
                </div>
                <div class="row p-0 m-0">
                     <span class="col-12 mb-1">Nyertes csapat:

                            <th:block th:switch="${item.match.getGoalTippVisitor()>item.match.getGoalTippHome()  ? 'V' : (item.match.getGoalTippVisitor()<item.match.getGoalTippHome()  ? 'H' : 'D')}">
                                <div class="d-inline-block" th:case="'H'">
                                    H
                                    <span class="odds-button text-white" th:text="${item.match.getOddsH().toString().length()==3 ? item.match.getOddsH()+'0' : item.match.getOddsH()}"></span>
                                    <span th:if="${item.match.getResult().name()=='H'}">
                                        <i class="fas fa-check kinyeri-green"></i>
                                    </span>
                                    <span th:unless="${item.match.getResult().name()=='H'}">
                                        <i class="fas fa-times kinyeri-red"></i>
                                    </span>
                                </div>
                                <div class="d-inline-block" th:case="'D'">
                                     D
                                     <span class="odds-button text-white" th:text="${item.match.getOddsD().toString().length()==3 ? item.match.getOddsD()+'0' : item.match.getOddsD()}"></span>
                                     <span th:if="${item.match.getResult().name()=='D'}"><i class="fas fa-check kinyeri-green"></i></span>
                                     <span th:unless="${item.match.getResult().name()=='D'}"><i class="fas fa-times kinyeri-red"></i></span>
                                </div>
                                <div class="d-inline-block" th:case="'V'">
                                    V
                                     <span class="odds-button text-white" th:text="${item.match.getOddsV().toString().length()==3 ? item.match.getOddsV()+'0' : item.match.getOddsV()}"></span>
                                     <span th:if="${item.match.getResult().name()=='V'}"><i class="fas fa-check kinyeri-green"></i></span>
                                     <span th:unless="${item.match.getResult().name()=='V'}"><i class="fas fa-times kinyeri-red"></i></span>
                                </div>
                            </th:block>


                    </span>
                    <span class="col-12 mb-1">Gólszám:
                                                                <span th:if="${item.match.getGoalOver() == 0 }"  th:text="'1.5 Alatt'" class=""></span>

                                                                <span th:if="${item.match.getGoalOver() == 1}"  th:text="'2.5 Alatt'" class=""></span>

                                                                <span th:if="${item.match.getGoalOver() == 2}"  th:text="'2.5 Alatt'" class=""></span>

                                                                <span th:if="${item.match.getGoalOver() == 3}"  th:text="'2.5 Felett'" class=""></span>

                                                                <span th:if="${item.match.getGoalOver() == 4}"  th:text="'3.5 Felett'" class=""></span>

                                                                <span th:if="${item.match.getGoalOver() == 5}"  th:text="'3.5 Felett'" class=""></span>

                                                                <span th:if="${item.match.getGoalOver() == 6}"  th:text="'4.5 Felett'" class=""></span>

                                                                <span th:if="${item.match.getGoalOver() == 7}"  th:text="'5.5 Felett'" class=""></span>

                                                                <span th:if="${item.match.getGoalOver() >= 8}"  th:text="'6.5 Felett'" class=""></span>
                        
                        
                                                                <span th:if="${item.match.getGoalOver() == 0 and item.match.getUnibetOdds()!=null}"   th:text="${item.match.getUnibetOdds().getUnder1500() == null ? '' : item.match.getUnibetOdds.getUnder1500().toString().length()==3 ? item.match.getUnibetOdds.getUnder1500()+'0' : item.match.getUnibetOdds.getUnder1500()}"  class="odds-button text-white"></span>
    
                                                                <span th:if="${item.match.getGoalOver() == 1 and item.match.getUnibetOdds()!=null}"  th:text="${item.match.getUnibetOdds().getUnder2500() == null ? '' : item.match.getUnibetOdds.getUnder2500().toString().length()==3 ? item.match.getUnibetOdds.getUnder2500()+'0' : item.match.getUnibetOdds.getUnder2500()}"  class="odds-button text-white"></span>

                                                                <span th:if="${item.match.getGoalOver() == 2 and item.match.getUnibetOdds()!=null}"  th:text="${item.match.getUnibetOdds().getUnder2500() == null ? '' : item.match.getUnibetOdds.getUnder2500().toString().length()==3 ? item.match.getUnibetOdds.getUnder2500()+'0' : item.match.getUnibetOdds.getUnder2500()}"  class="odds-button text-white"></span>

                                                                <span th:if="${item.match.getGoalOver() == 3 and item.match.getUnibetOdds()!=null}"  th:text="${item.match.getUnibetOdds().getOver2500() == null ? '' : item.match.getUnibetOdds.getOver2500().toString().length()==3 ? item.match.getUnibetOdds.getOver2500()+'0' : item.match.getUnibetOdds.getOver2500()}" class="odds-button text-white"></span>

                                                                <span th:if="${item.match.getGoalOver() == 4 and item.match.getUnibetOdds()!=null}"  th:text="${item.match.getUnibetOdds().getOver3500() == null ? '' : item.match.getUnibetOdds.getOver3500().toString().length()==3 ? item.match.getUnibetOdds.getOver3500()+'0' : item.match.getUnibetOdds.getOver3500()}"  class="odds-button text-white"></span>

                                                                <span th:if="${item.match.getGoalOver() == 5 and item.match.getUnibetOdds()!=null}"   th:text="${item.match.getUnibetOdds().getOver3500() == null ? '' : item.match.getUnibetOdds.getOver3500().toString().length()==3 ? item.match.getUnibetOdds.getOver3500()+'0' : item.match.getUnibetOdds.getOver3500()}"  class="odds-button text-white"></span>

                                                                <span th:if="${item.match.getGoalOver() == 6 and item.match.getUnibetOdds()!=null}"   th:text="${item.match.getUnibetOdds().getOver4500() == null ? '' : item.match.getUnibetOdds.getOver4500().toString().length()==3 ? item.match.getUnibetOdds..getOver4500()+'0' : item.match.getUnibetOdds.getOver4500()}"   class="odds-button text-white"></span>

                                                                <span th:if="${item.match.getGoalOver() == 7 and item.match.getUnibetOdds()!=null}"   th:text="${item.match.getUnibetOdds().getOver5500() == null ? '' : item.match.getUnibetOdds.getOver5500().toString().length()==3 ? item.match.getUnibetOdds.getOver5500()+'0' : item.match.getUnibetOdds.getOver5500()}"  class="odds-button text-white"></span>

                                                                <span th:if="${item.match.getGoalOver() >= 8 and item.match.getUnibetOdds()!=null}"   th:text="${item.match.getUnibetOdds().getOver6500() == null ? '' : item.match.getUnibetOdds.getOver6500().toString().length()==3 ? item.match.getUnibetOdds.getOver6500()+'0' : item.match.getUnibetOdds.getOver6500()}"   class="odds-button text-white"></span>


                        <span th:if="${item.matchHVDDto.getGoalOverWon()}">
                             <i class="fas fa-check kinyeri-green"></i>
                        </span>
                        <span th:unless="${item.matchHVDDto.getGoalOverWon()}">
                             <i class="fas fa-times kinyeri-red"></i>
                        </span>



                    </span>
                    <span class="col-12 mb-1">G/G:
                        <span th:if="${item.getMatch().getGoalTippVisitor()>0 and item.getMatch.getGoalTippHome()>0}">
                            Igen
                            <span th:if="${item.match.getUnibetOdds()!=null}" th:text="${item.match.getUnibetOdds().getBothTeamYes()}"  class="odds-button text-white"></span>
                        </span>
                            <span th:unless="${item.getMatch().getGoalTippVisitor()>0 and item.getMatch.getGoalTippHome()>0}">
                            Nem
                            <span th:if="${item.match.getUnibetOdds()!=null}" th:text="${item.match.getUnibetOdds().getBothTeamNo()}"  class="odds-button text-white"></span>
                        </span>

                         <span th:if="${item.getMatchHVDDto().getBothTeamGoalWon()}">
                           <i class="fas fa-check kinyeri-green"></i>
                        </span>
                         <span th:unless="${item.getMatchHVDDto().getBothTeamGoalWon()}">
                          <i class="fas fa-times kinyeri-red"></i>
                        </span>
                    </span>
                </div>

                    </span>
                    <span class="col-12 mb-1"> Pontos kimenetel:
                        <span th:text="${item.getMatchHVDDto().getGoalTippHome()+' - '+item.getMatchHVDDto().getGoalTippVisitor()}">
                        </span>
                          <span th:if="${item.getMatch().getGoalTippHome()==item.getMatch().getHomeGoalQty() and item.getMatch().getGoalTippVisitor() == item.getMatch().getVisitorGoalQty() }"><i class="fas fa-check kinyeri-green"></i></span>
                          <span th:unless="${item.getMatch().getGoalTippHome()==item.getMatch().getHomeGoalQty() and item.getMatch().getGoalTippVisitor() == item.getMatch().getVisitorGoalQty() }"><i class="fas fa-times kinyeri-red"></i></span>


                    </span>
                <hr/>


            </div>

        </div>

    </div>

    <div class="text-center mb-5 d-none" id="spinner">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="text-center mb-5" id="loadMore">
        <span class="btn kinyeri-orange-button text-white">
            Tovább
        </span>
    </div>

    <div class="text-center d-none mb-5" id="noMore">
        <span class="btn text-dark">
            Nincs több mérkzőzés
        </span>
    </div>

</div>



<script language="JavaScript" src="/js/elozmenyek.js?v6" type="text/javascript" charset="UTF-8"></script>
</body>
</html>