<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title>Kinyeri.hu - MerkőzésV2 </Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
    <script src="https://cdn.jsdelivr.net/npm/js-joda-timezone@2.1.1/dist/js-joda-timezone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-joda/1.11.0/js-joda.min.js" integrity="sha512-piLlO+P2f15QHjUv0DEXBd4HvkL03Orhi30Ur5n1E4Gk2LE4BxiBAP/AD+dxhxpW66DiMY2wZqQWHAuS53RFDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="dto-table-background min-vh-100">

<div class="modal fade bd-example-modal-lg" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="add">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Meccs létrehozás</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Hazai csapat</label>
                                <select class="form-control input-sm"  required  id="addHTeam"  placeholder="Válassz egy csapatott" name="addHTeam">
                                    <option value="">Válassz hazai csapatott</option>
                                    <th:block th:each="team  : ${teams}">
                                        <option  th:attr="data-partName=${team.name}" th:value="${team.name}" th:text="${team.name}" ></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label>Mérközés ideje</label>
                            <input type="datetime-local" max="9999-12-31" min="1000-01-01" required class="form-control" id="match"  >
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Vendég csapat</label>
                                <select class="form-control input-sm" required  id="addVTeam"  placeholder="Válassz egy csapatott" name="addVTeam">
                                    <option value="">Select a state...</option>
                                    <th:block th:each="team  : ${teams}">
                                        <option  th:attr="data-partName=${team.name}" th:value="${team.name}" th:text="${team.name}" ></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Hazai odds</label>
                            <input type="number" step="0.01" min="1" class="form-control" required placeholder="Hazai odds" id="HOdds">
                        </div>
                        <div class="col">
                            <label>Döntetlen odds</label>
                            <input type="number" step="0.01" min="1" class="form-control"  required placeholder="Döntetlen odds" id="DOdds">
                        </div>
                        <div class="col">
                            <label>Vendég odds</label>
                            <input type="number" step="0.01" min="1" class="form-control" required placeholder="Vendég odds" id="VOdds">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <label>Reflink beállítása</label>
                            <input type="text" class="form-control" placeholder="Fogadás leadása reflink" id="matchReflink">
                        </div>
                    </div>

<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Hazai gól">-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Mérközés eredménye">-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Vendég gól">-->
<!--                        </div>-->
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <button type="submit" class="btn btn-primary">Mentés</button>
                </div>
                </div>


                </div>
            </div>
    </form>
</div>


<div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="edit">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Meccs szerekesztés</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="display: none">
                        <label>Match id</label>
                        <input type="text" class="form-control" id="edit_matchId"  disabled required>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Hazai csapat</label>
                                <select class="form-control input-sm"   id="editHTeam" required placeholder="Válassz egy csapatott" name="editHTeam">
                                    <option value="">Select a state...</option>
                                    <th:block th:each="team  : ${teams}">
                                        <option   th:attr="data-partName=${team.name}" th:value="${team.name}" th:text="${team.name}" ></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label>Mérközés ideje</label>
                            <input type="datetime-local" max="9999-12-31" min="1000-01-01" required class="form-control" id="editMatch"  >
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Vendég csapat</label>
                                <select class="form-control input-sm"   id="editVTeam" required placeholder="Válassz egy csapatott" name="editVTeam">
                                    <option value="">Select a state...</option>
                                    <th:block th:each="team  : ${teams}">
                                        <option id="partChange"   th:attr="data-partName=${team.name}" th:value="${team.name}" th:text="${team.name}" ></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Hazai odds</label>
                            <input type="number" step="0.01" min="1" class="form-control" required placeholder="Hazai odds" id="editHOdds">
                        </div>
                        <div class="col">
                            <label>Döntetlen odds</label>
                            <input type="number" step="0.01" min="1" class="form-control" required placeholder="Döntetlen odds" id="editDOdds">
                        </div>
                        <div class="col">
                            <label>Vendég odds</label>
                            <input type="number" step="0.01" min="1" class="form-control" required placeholder="Vendég odds" id="editVOdds">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Reflink beállítása</label>
                            <input type="text" class="form-control" placeholder="Fogadás leadása reflink" id="editMatchReflink">
                        </div>
                    </div>

<!--                    <div class="form-row">-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Hazai gól">-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Mérközés eredménye">-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Vendég gól">-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <button type="submit" class="btn btn-primary">Mentés</button>
                </div>
            </div>
        </div>
    </form>
</div>




<div class="admin-header mt-3 mb-3">
    <button type="button" class="btn kinyeri-orange-button text-white"  disabled  data-toggle="modal" data-target="#addModal" data-whatever="@mdo">Új felvitele</button>
</div>



<div id="matches-save-spinner" class="matches-save d-none">

    <div class="spinner-border mt-3" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="d-flex text-center justify-content-center font-weight-bold mt-3">Mérkőzés(ek) mentése folyamatban...</div>
</div>

<div class="admin-header" id="matches-header">

    <div class="min-vh-50 h-100 m-0 p-0 pb-5">

        <div class="d-flex justify-content-between m-2">
                <span id="match-count" class="text-white text-center pb-1 mb-1 "></span>
                <div>
                    <button class="text-white kinyeri-orange-button d-none mb-1" id="matchReset">Mindegyik törlése</button>
                    <button class="text-white kinyeri-orange-button d-none mb-1" id="matchCount">Meccsek felvitele</button>
                </div>
        </div>

        <div id="match-container" class="row m-0 p-0">

        </div>

        <div class="m-auto text-center" id="pullMatches">
            <button class="btn btn-lg btn-success text-white">Unibet meccsek lekérdezése<i class="fas  fa-arrow-alt-circle-down text-white ml-1"></i></button>
        </div>
        <div class="m-auto text-center d-none" id="loadMatches">
            <div class="spinner-border text-success" role="status">
                <span class="sr-only">Tölt...</span>
            </div>
        </div>


    </div>
</div>


</body>

<script language="JavaScript" src="/js/match-control-v2.js?v9" type="text/javascript" charset="UTF-8"></script>
</html>