<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title>Kinyeri.hu - </Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
</head>
<body class="dto-table-background min-vh-100">

<div class="modal fade bd-example-modal-lg" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="add">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Meccs létrehozás</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Hazai csapat</label>
                                <select class="form-control input-sm"  required  id="addHTeam"  placeholder="Válassz egy csapatott" name="addHTeam">
                                    <option value="">Válassz hazai csapatott</option>
                                    <th:block th:each="team  : ${teams}">
                                        <option  th:attr="data-partName=${team.name}" th:value="${team.name}" th:text="${team.name}" ></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label>Mérközés ideje</label>
                            <input type="datetime-local" max="9999-12-31" min="1000-01-01" required class="form-control" id="match"  >
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Vendég csapat</label>
                                <select class="form-control input-sm" required  id="addVTeam"  placeholder="Válassz egy csapatott" name="addVTeam">
                                    <option value="">Select a state...</option>
                                    <th:block th:each="team  : ${teams}">
                                        <option  th:attr="data-partName=${team.name}" th:value="${team.name}" th:text="${team.name}" ></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Hazai odds</label>
                            <input type="number" step="0.01" min="1" class="form-control" required placeholder="Hazai odds" id="HOdds">
                        </div>
                        <div class="col">
                            <label>Döntetlen odds</label>
                            <input type="number" step="0.01" min="1" class="form-control"  required placeholder="Döntetlen odds" id="DOdds">
                        </div>
                        <div class="col">
                            <label>Vendég odds</label>
                            <input type="number" step="0.01" min="1" class="form-control" required placeholder="Vendég odds" id="VOdds">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <label>Reflink beállítása</label>
                            <input type="text" class="form-control" placeholder="Fogadás leadása reflink" id="matchReflink">
                        </div>
                    </div>

<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Hazai gól">-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Mérközés eredménye">-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Vendég gól">-->
<!--                        </div>-->
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <button type="submit" class="btn btn-primary">Mentés</button>
                </div>
                </div>


                </div>
            </div>
    </form>
</div>


<div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="edit">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Meccs szerekesztés</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="display: none">
                        <label>Match id</label>
                        <input type="text" class="form-control" id="edit_matchId"  disabled required>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Hazai csapat</label>
                                <select class="form-control input-sm"   id="editHTeam" required placeholder="Válassz egy csapatott" name="editHTeam">
                                    <option value="">Select a state...</option>
                                    <th:block th:each="team  : ${teams}">
                                        <option   th:attr="data-partName=${team.name}" th:value="${team.name}" th:text="${team.name}" ></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label>Mérközés ideje</label>
                            <input type="datetime-local" max="9999-12-31" min="1000-01-01" required class="form-control" id="editMatch"  >
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Vendég csapat</label>
                                <select class="form-control input-sm"   id="editVTeam" required placeholder="Válassz egy csapatott" name="editVTeam">
                                    <option value="">Select a state...</option>
                                    <th:block th:each="team  : ${teams}">
                                        <option id="partChange"   th:attr="data-partName=${team.name}" th:value="${team.name}" th:text="${team.name}" ></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Hazai odds</label>
                            <input type="number" step="0.01" min="1" class="form-control" required placeholder="Hazai odds" id="editHOdds">
                        </div>
                        <div class="col">
                            <label>Döntetlen odds</label>
                            <input type="number" step="0.01" min="1" class="form-control" required placeholder="Döntetlen odds" id="editDOdds">
                        </div>
                        <div class="col">
                            <label>Vendég odds</label>
                            <input type="number" step="0.01" min="1" class="form-control" required placeholder="Vendég odds" id="editVOdds">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Reflink beállítása</label>
                            <input type="text" class="form-control" placeholder="Fogadás leadása reflink" id="editMatchReflink">
                        </div>
                    </div>

<!--                    <div class="form-row">-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Hazai gól">-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Mérközés eredménye">-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <input type="text" class="form-control" placeholder="Vendég gól">-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <button type="submit" class="btn btn-primary">Mentés</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div class="modal fade bd-example-modal-lg" id="editResultModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="editResult">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="editResultModalLabel">Eredmény szerekesztés</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="display: none">
                        <label>Match id</label>
                        <input type="text" class="form-control" id="matchIdResult"  disabled required>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Hazai csapat</label>
                                <select disabled class="form-control input-sm" required  id="TeamHResult" placeholder="Válassz egy csapatott" name="TeamHResult">
                                    <option value="">Select a state...</option>
                                    <th:block th:each="team  : ${teams}">
                                        <option   th:attr="data-partName=${team.name}" th:value="${team.name}" th:text="${team.name}" ></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label>Mérközés ideje</label>
                            <input disabled type="datetime-local" max="9999-12-31" min="1000-01-01" class="form-control" id="MatchResult" required >
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Vendég csapat</label>
                                <select disabled class="form-control input-sm" required  id="TeamVResult" placeholder="Válassz egy csapatott" name="TeamVResult">
                                    <option value="">Select a state...</option>
                                    <th:block th:each="team  : ${teams}">
                                        <option   th:attr="data-partName=${team.name}" th:value="${team.name}" th:text="${team.name}" ></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Hazai odds</label>
                            <input disabled type="number" step="0.01" min="1" class="form-control" placeholder="Hazai odds" id="OddsHResult">
                        </div>
                        <div class="col">
                            <label>Döntetlen odds</label>
                            <input disabled type="number" step="0.01" min="1" class="form-control" placeholder="Döntetlen odds" id="OddsDResult">
                        </div>
                        <div class="col">
                            <label>Vendég odds</label>
                            <input disabled type="number" step="0.01" min="1" class="form-control" placeholder="Vendég odds" id="OddsVResult">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <label>Hazai gól</label>
                            <input  type="number" step="1" min="0" class="form-control" required placeholder="Hazai gól" id="editHomeGoalResult">
                        </div>
                        <div class="col">
                            <label>Mérközés eredménye</label>
                            <select   class="form-control" id="editMatchResult">
                                <option value="H">Hazai</option>
                                <option value="D">Döntetlen</option>
                                <option value="V">Vendég</option>
                            </select>

                        </div>
                        <div class="col">
                            <label>Vendég gól</label>
                            <input  type="number" required step="1" min="0" class="form-control" placeholder="Vendég gól" id="editVisitorGoalResult">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <button type="submit" class="btn btn-primary">Mentés és pont számolás</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid mt-3 mb-3">
    <button type="button" class="btn kinyeri-orange-button" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">Új felvitele</button>
    <a href="/kinyeri-admin/matchv2"  class="btn kinyeri-orange-button">Meccsv2</a>
</div>
<div class="container-fluid p-3">

    <table id="matchs" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th><input class="form-control w-100" id="search_h_team" type="text" placeholder="Csapatnév"/></th>
            <th><input class="form-control w-100" id="search_v_team" type="text" placeholder="Csapatnév"/></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Hazai</th>
            <th>Vendég</th>
            <th>Időpont</th>
            <th>H odds</th>
            <th>D odds</th>
            <th>V odds</th>
            <th>H gól</th>
            <th>V gól</th>
            <th>Eredmény</th>
            <th>Müveletek</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



</body>

<script language="JavaScript" src="/js/match-control.js?v3" type="text/javascript" charset="UTF-8"></script>
</html>