<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title>Kinyeri.hu - Üzenetek kezelése </Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
</head>
<body class="dto-table-background min-vh-100">

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="add">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white mt-2" id="addModalLabel">Üzenet küldése</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title" class="col-form-label">Cím</label>
                        <input required="required" maxlength="40" class="form-control" id="title" name="title"/>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">Üzenet</label>
                        <textarea required="required"  class="form-control" id="message" name="message" rows="2" cols="50" maxlength="44" ></textarea>
                    </div>
                    <div>
                        <span><i uk-icon="info"></i><small class="ml-1">A cím 40 karakter hosszú lehet az üzenet 44 karakter hosszú</small></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark text-white" data-dismiss="modal">Bezárás</button>
                    <button type="submit" class="btn kinyeri-orange-button">Küldés</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="reflinkModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="reflinkEdit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <span id="reflinkId" class="d-none" th:text="${reflink.getId()}"></span>
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white mt-2">Reflink beállítása</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title" class="col-form-label">Mail - Reflink</label>
                        <input required="required" class="form-control" id="reflinkText" name="reflink" th:value="${reflink.getLink()}"/>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">Mail - Gombon lévő szöveg</label>
                        <input type="text" required="required"  class="form-control" id="buttonText" name="text"  maxlength="15" th:value="${reflink.getText()}" />
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-form-label">Mérkőzés - Stream ikonos</label>
                        <input required="required" class="form-control" id="streamReflink" name="streamReflink" th:value="${reflink.getStreamReflink()}"/>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-form-label">Mérkőzés reflink - Fogadás leadása gomb</label>
                        <input required="required" class="form-control" id="matchReflink" name="matchReflink" th:value="${reflink.getMatchReflink()}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Bezárás</button>
                    <button type="submit" class="btn kinyeri-orange-button" form="reflinkEdit">Mentés</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div class="container-fluid mt-3 p-3">
    <div class="col-12 m-0 p-0">
        <h1 class="text-white">Küldött üzenetek</h1>
    </div>
    <div class="mt-2 mb-2 pb-3">
        <button type="button" class="btn  kinyeri-orange-button" data-toggle="modal" data-target="#addModal" data-whatever="@mdo"><i uk-icon="plus-circle" class="mr-1 font-weight-bolder"></i>Új üzenet küldése</button>
        <button id="morgenMail" type="button" class="ml-3 btn  kinyeri-orange-button"><i uk-icon="forward" class="mr-1 font-weight-bolder"></i>Reggeli mail küldése</button>
        <button id="buttonReflink" type="button" class="btn ml-3 kinyeri-orange-button" data-toggle="modal" data-target="#reflinkModal"><i uk-icon="cog" class="mr-1 font-weight-bolder"></i>Reflink beállítása</button>
    </div>
    <table id="notifications" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th></th>
            <th><input class="form-control w-100" id="search_title" type="text" placeholder="Cím"/></th>
            <th><input class="form-control w-100" id="search_message" type="text" placeholder="Üzenet"/></th>
            <th><input class="form-control w-100" id="search_who" type="text" placeholder="Küldte"/></th>
            <th><input class="form-control w-100" id="search_when" type="datetime-local" placeholder="Mikor"/></th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Cím / Title</th>
            <th>Üzenet</th>
            <th>Küldte</th>
            <th>Mikor</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



</body>

<script language="JavaScript" src="/js/notification.js" type="text/javascript" charset="UTF-8"></script>

</html>