<!DOCTYPE html>
<html class="dto-table-background" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title th:text="KINYERI.HU"></Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
</head>
<body class="dto-table-background">


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="add">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Előfizetés hozzáadás</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Felhasználó neve</label>
                        <select class="form-control input-sm"   id="addUsername" required placeholder="Válassz egy Felhasználót" name="addUsername">
                            <option value="">Válassz egy felhasználót</option>
                            <th:block th:each="user  : ${users}">
                                <option   th:attr="data-partName=${user.username}" th:value="${user.id}" th:text="${user.username}" ></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Csomag neve</label>
                        <select class="form-control input-sm"   id="addPackage" required placeholder="Válassz egy Csomagot" name="addPackage">
                            <option value="">Válassz egy Csomagot</option>
                            <th:block th:each="package  : ${packages}">
                                <option   th:attr="data-partName=${package.name}" th:value="${package.id}" th:text="${package.name}" ></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                        <button type="submit" class="btn btn-primary">Mentés</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid mt-3">
    <button type="button" class="btn  kinyeri-orange-button" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">Új felvitele</button>
</div>
<div class="container-fluid mt-5 dto-table-background min-vh-50">

    <p class="h3 text-white">Előfizetések</p>

                    <div class="container-fluid mt-3 p-3">
                        <table id="usersPayments" class="table table-striped display nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Felhasználó</th>
                                <th>Csomag</th>
                                <th>Megrendelés időpontja</th>
                                <th>Aktiválás ideje</th>
                                <th>Állapot</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>



<div class="container-fluid mt-5 dto-table-background min-vh-50">

    <p class="h3 text-white">Kifizetési kérelmek</p>

    <div class="container-fluid mt-3 p-3">
        <table id="userRequestPayments" class="table table-striped display nowrap" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Igénylő</th>
                <th>Mail & típus</th>
                <th>Kért összeg</th>
                <th>Kérelmezve</th>
                <th>Kifizetve</th>
                <th>Jóváhagyta</th>
                <th>Állapot</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>






<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script language="JavaScript" src="/js/payment-control.js" type="text/javascript" charset="UTF-8"></script>


<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <object th:include="fragments/footer:: footer"  />
</footer>

</body>
</html>