<!DOCTYPE html>
<html class="dto-table-background" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title>Kinyeri.hu - Prémium </Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
    <object th:include="fragments/kinyeri-meta:: kinyeri-meta" th:remove="tag" />

</head>
<body class="min-vh-75 bg-white">
<div class="mb-5">
    <div class="container min-vh-75 mt-4 mt-md-5">
        <h4 class="font-weight-bolder h-1 w-center text-center">Elérhető csomagok</h4>

        <div th:if="${currentUser.getFirstName()==null or currentUser.getUsername()==null or currentUser.getEmail()==null or currentUser.getAddress()==null}" class="kinyeri-orange-button-v2 real-white text-center  pt-2 pb-2 ">
            <i class="fas fa-exclamation-triangle text-white"></i>
            <span>Prémium csomag vásárlásához szükségünk van a nevedre valamint a címedre!</span>
                Az alábbi <a href="page/beallitasok?altalanos" class=" text-decoration-none border-white border-bottom text-white">oldalon</a> tudod szerkeszteni. <i class="fas fa-exclamation-triangle text-white"></i>
        </div>



        <div th:if="${firstCustomer}">
            <p class="h3 d-none d-md-inline-block">Oldalunk egy tagja hívott meg, ezért első vasárlásodra 30% kedvezményt írunk jóvá!</p>
            <p class="h-5 text-center d-md-none">Oldalunk egy tagja hívott meg, ezért első vasárlásodra 30% kedvezményt írunk jóvá!</p>
        </div>

        <div class="mt-3" th:if="${packages.isEmpty()}">
            Nincsenek csomagok
        </div>

        <div class="row mt-5 mb-5 justify-content-center">
        <th:block th:each="package : ${packages}">
                <div class="col-md-3 col-sm-6 p-md-0">
                    <div th:class="'pricingTable11 '+${package.getColor()}">
                        <div class="pricingTable-header">
                            <i class="far fa-gem"></i>
                            <div>

                                <span th:if="${firstCustomer}"  class="price-value amount-kinyeri" th:text="${#strings.listSplit(package.getPrice(),'.').get(0)}+ ' Ft'"></span>
                                <span th:unless="${firstCustomer}"  class="price-value" th:text="${#strings.listSplit(package.getPrice(),'.').get(0)}+ ' Ft'"></span>
                                <span th:if="${firstCustomer}" class="price-value w-100" th:text="${#numbers.formatDecimal(package.getPrice()*0.7, 0, 'COMMA', 0, 'POINT')}+' Ft'" ></span>

                                <span class="month text-dark font-weight-bolder" th:text="${package.getInterval()+' nap'}"></span> </div>
                        </div>
                        <h3 class="heading" th:text="${package.getName()}"></h3>
                        <div class="pricing-content mr-1 ml-1">
                            <div class="m-1" th:text="${package.getDetails()}"></div>
                        </div>
                        <div class="pricingTable-signup mt-4">
                            <a  id="buy" th:attr="data-package=${package.id}" th:class="${currentUser.getFirstName()==null or currentUser.getUsername()==null or currentUser.getEmail()==null or currentUser.getAddress()==null? 'd-none' : ''}">
                                <span class="text-white">Előfizetés</span>
                            </a>
                        </div>

                    </div>
                </div>
        </th:block>

        </div>

    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="payModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="edit">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Csomag befizetése</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-6" >
                            <div class="card-body">
                                <h2 class="card-title">Utalás</h2>
                                <div class="alert alert-warning"><strong>Az utalással fizetett csomagok aktiválása 24 órán belül történik!</strong></div>
                                <strong>Számla tulajdonos neve: </strong></span><span th:text="${bankDetail.getName()}"> </span><br><span>
                                <strong>IBAN: </strong></span><span th:text="${bankDetail.getIban()}"> </span><br><span>
                                <strong>Számlaszám: </strong></span><span th:text="${bankDetail.getBankNumber()}"></span><br><span>
                                <strong>SWIFT kód: </strong></span><span th:text="${bankDetail.getSwiftCode()}"> </span><br><span>
                                <strong>Bank: </strong></span><span th:text="${bankDetail.getBankName()}"></span><br>
                                <ul>
                                    <li>Utalás során kérem tüntesse fel közleményben az email címét valamint felhasználónevét(email-felhasználónév)!</li><li>Pl.: pelda@gmail.hu-bela125</li></ul>
                                <p>Probléma esetén hívjon minket! <span th:text="${bankDetail.getPhone()}"></span></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                <h2 class="card-title">Számlázási adatok</h2>
                                <h5><i class="fa fa-envelope"></i> Email:</h5>
                                <p id="email" th:text="${currentUser.getEmail()}"></p>
                                <h5><i class="fa fa-shopping-cart"></i> Kiválasztott csomag:</h5>
                                <p id="package"></p>
                                <p id="packagePrice"></p>
                                <h5><i class="fa fa-calendar"></i> Állapot:</h5>
                                <p>Befizetésre vár</p>
                                <h5><i class="fa fa-address-card"></i> Számlázási cím:</h5>
                                <p id="address" th:text="${currentUser.getCountry()+', '+currentUser.getZipCode()+', '+currentUser.getCity()+', '+currentUser.getAddress()}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script language="JavaScript" src="/js/pricing.js" type="text/javascript" charset="UTF-8"></script>
<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <object th:include="fragments/footer:: footer"  />
</footer>

</body>
</html>