<!DOCTYPE html>
<html class="dto-table-background" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title th:text="'KINYERI.HU - #'+${user.getUsername()}"></Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
    <object th:include="fragments/kinyeri-meta:: kinyeri-meta" th:remove="tag" />
</head>
<body class="dto-table-background">
<div class="col-12 bg-black-100 pt-4 pb-4 shadow">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="w-100 ml-2 d-flex justify-content-center">
                <div class="my-auto">
                    <span th:id="${user.getId()}" class="text-white span_user_points" th:text="'#'+${user.getUsername()}"></span>
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <small class="text-white mr-1">Tippek száma: </small><small class="text-white" th:text="' '+${user.getTipNum()}"></small>
                    </div>

                </div>
                <span class="d-none" id="username" th:text="${user.getUsername()}"></span>
                <i th:if="${mod}" th:id="${user.getId()}"  class="fas h3 fa-ban text-white kinyeri-username ml-2 mt-2 pointer"></i>
            </div>
        </div>
        <div class="col-md-12 col-lg-9">

                <div th:if="${user.tipNum>0}">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-2 p-mt-1 mt-2 mt-lg-0">
                            <div class="row text-center">
                                <span class="col-12 span_user_points mr-2 text-white">Mérkőzés nyertese<i class="text-white fas fa-clipboard-check ml-2"></i></span>
                                <div class="col-12 span_user_points text-white">
                                    <span th:if="${closedTippNumber != 0}"   th:text="${merkozesnyertese}+'%'"></span>
                                    <span th:if="${closedTippNumber == 0}"   th:text="'0%'"></span>
                                    <span class="odds-text" th:text="${realHdv}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-2 p-mt-1 mt-2 mt-lg-0">
                            <div class="row text-center">
                                <span class="col-12 span_user_points text-white">GG<i class="text-white fas fa-clipboard-check ml-2"></i></span>
                                <div class="col-12 span_user_points text-white">
                                    <span th:if="${closedTippNumber != 0}"  th:text="${gg}+'%'"></span>
                                    <span th:if="${closedTippNumber == 0}"  th:text="'0%'"></span>
                                    <span class="odds-text" th:text="${realGoal}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-2 p-mt-1 mt-2 mt-lg-0">
                            <div class="row text-center">
                                <span class="col-12 span_user_points mr-2 text-white">Pontos gólszám<i class="text-white fas fa-clipboard-check ml-2"></i></span>
                                <span th:if="${closedTippNumber != 0}" class="col-12 span_user_points text-white" th:text="${golszam}+'%'"></span>
                                <span th:if="${closedTippNumber == 0}" class="col-12 span_user_points text-white" th:text="'0%'"></span>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-2 p-mt-1 mt-2 mt-lg-0">
                            <div class="row text-center">
                                <span class="col-12 span_user_points mr-2 text-white">Pontos kimenetel<i class="text-white fas fa-clipboard-check ml-2"></i></span>
                                <span th:if="${closedTippNumber != 0}"  class="col-12 span_user_points text-white" th:text="${pontoskimenetel}+'%'"></span>
                                <span th:if="${closedTippNumber == 0}"  class="col-12 span_user_points text-white" th:text="'0%'"></span>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-2 p-mt-1 mt-2 mt-lg-0">
                            <div class="row text-center">
                                <span class="col-12 span_user_points mr-2 text-white">Összesített rálátás<i class="fas fa-chart-pie text-white ml-2"></i></span>
                                <span class="col-12 span_user_points text-white" th:if="${user.getBoostedWinRate()==0}" th:text="${user.getWinRate()}+'%'">0</span>
                                <span class="col-12 span_user_points text-white" th:unless="${user.getBoostedWinRate()==0}" th:text="${user.getBoostedWinRate()}+'%'">0</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-2 p-mt-1 mt-2 mt-lg-0">
                            <div class="row text-center">
                                <span  class="col-12 span_user_points text-white mr-2 profile-title-text">Szavazat erőssége<i class="fas fa-balance-scale-right text-white ml-2"></i></span>
                                <span  class="col-12 span_user_points text-white" th:text="${strongPoint}+' pont'">0</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${user.tipNum>0}" class="text-center col-12">
                    <span class="mt-3 h4 d-flex text-white font-weight-bolder">A felhasználó még nem tippelt!</span>
                </div>
        </div>
        <div class="col-md-12 col-lg-1">
        </div>


    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="w-100 d-flex justify-content-center">
            <div class="col-md-9">
                <p class="h6 text-white" th:if="${user.getBoostedWinRate()!=0}"  th:text="' Összesített rálátás felépítése: '+${user.getBoostedWinRate()}+'% ('+${user.getWinRate()}+'+'+${user.getBoostedWinRate()-user.getWinRate()}+'%) '"></p>
                <p class="h6 text-white" th:if="${user.getBoostedWinRate()!=0}" th:text="'A tippadó összesen '+${user.getBoostedWinRate()-user.getWinRate()}+'% rálátás növelést szerzett, amely az eltalált tippek típusából, azok átlag odds értékéből, továbbá a felhasználó aktivitási szintjéből tevődik össze.'"></p>
                <p class="h6 text-white" th:if="${user.getBoostedWinRate()==0}" >A felhasználó nem rendelkezik rálátást növelő értékekkel.</p>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid mt-2 dto-table-background min-vh-50">


    <div class="row">
        <div class="w-100 d-flex justify-content-center">
            <div class="col-md-9">
                    <div class="row" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container-fluid mt-3 p-3">
                            <table id="tipps" class="table table-striped display nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Hazai csapat</th>
                                    <th>Vendég csapat</th>
                                    <th>Mérkőzés kezdete</th>
                                    <th>Mérkőzés nyertese tipp</th>
                                    <th>Mindkét csapat szerez gólt tipp</th>
                                    <th>Összesített gólszám tipp</th>
                                    <th>Pontos kimenetel tipp</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<div th:if="${loggedInUser.getUsername().equals(user.getUsername())}" class="container-fluid mt-5 dto-table-background min-vh-50">


    <div class="row">
        <div class="w-100 d-flex justify-content-center">
            <div class="col-md-9">
                <div class="row" role="tabpanel" aria-labelledby="home-tab">
                    <div class="container-fluid mt-3 p-3">
                        <table id="usersPayments" class="table table-striped display nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Csomag</th>
                                <th>Megrendelés időpontja</th>
                                <th>Aktiválás ideje</th>
                                <th>Állapot</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade bd-example-modal-lg" id="payModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="edit">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Csomag befizetése</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-6" >
                            <div class="card-body">
                                <h2 class="card-title">Utalás</h2>
                                <div class="alert alert-warning"><strong>Az utalással fizetett csomagok aktiválása 24 órán belül történik!</strong></div>
                                <strong>Számla tulajdonos neve: </strong></span><span th:text="${bankDetail.getName()}"> </span><br><span>
                                <strong>IBAN: </strong></span><span th:text="${bankDetail.getIban()}"> </span><br><span>
                                <strong>Számlaszám: </strong></span><span th:text="${bankDetail.getBankNumber()}"></span><br><span>
                                <strong>SWIFT kód: </strong></span><span th:text="${bankDetail.getSwiftCode()}"> </span><br><span>
                                <strong>Bank: </strong></span><span th:text="${bankDetail.getBankName()}"></span><br>
                                <ul>
                                    <li>Utalás során kérem tüntesse fel közleményben az email címét valamint felhasználónevét(email-felhasználónév)!</li><li>Pl.: pelda@gmail.hu-bela125</li></ul>
                                <p>Probléma esetén hívjon minket! <span th:text="${bankDetail.getPhone()}"></span></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                <h2 class="card-title">Számlázási adatok</h2>
                            <h5><i class="fa fa-envelope"></i> Email:</h5>
                            <p id="email"></p>
                            <h5><i class="fa fa-shopping-cart"></i> Kiválasztott csomag:</h5>
                            <p id="package"></p>
                            <h5><i class="fa fa-calendar"></i> Állapot:</h5>
                            <p>Befizetésre vár</p>
                            <h5><i class="fa fa-address-card"></i> Számlázási cím:</h5>
                            <p id="address"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                </div>
            </div>
        </div>
    </form>
</div>



<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>


<script th:if="${loggedInUser.getUsername().equals(user.getUsername())}"  language="JavaScript" src="/js/mePayment.js?v3" type="text/javascript" charset="UTF-8"></script>
<script th:if="${loggedInUser.getUsername().equals(user.getUsername())}"  language="JavaScript" src="/js/own-profile.js?v4" type="text/javascript" charset="UTF-8"></script>
<script th:if="${loggedInUser.getDaysLeftVip()>0 && !loggedInUser.getUsername().equals(user.getUsername())}" language="JavaScript" src="/js/profile.js?v4" type="text/javascript" charset="UTF-8"></script>
<script th:if="${loggedInUser.getDaysLeftVip()==0 && !loggedInUser.getUsername().equals(user.getUsername())}" language="JavaScript" src="/js/profile-without-vip.js?v5" type="text/javascript" charset="UTF-8"></script>

<script th:if="${mod}"  language="JavaScript" src="/js/mod.js" type="text/javascript" charset="UTF-8"></script>

<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <object th:include="fragments/footer:: footer"  />
</footer>

</body>
</html>