<!DOCTYPE html>
<html class="dto-table-background" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title th:text="'Kinyeri.hu - Ranglista'"></Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
    <object th:include="fragments/kinyeri-meta:: kinyeri-meta" th:remove="tag" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="https://unpkg.com/currency.js@~2.0.0/dist/currency.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" integrity="sha512-lteuRD+aUENrZPTXWFRPTBcDDxIGWe5uu0apPEn+3ZKYDwDaEErIK9rvR0QzUGmUQ55KFE2RqGTVoZsKctGMVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="">
<div class="col-12 m-0 ranking-background min-vh-75 pt-4 pb-4 shadow">
    <div class="row">
        <div class="col-md-4">
            <div class="row-cols-2">


                <div class="col-12 m-0 mb-1">
                    <span class="text-dark font-weight-bolder">Aktív vagy mindenkori</span>
                </div>
                <div class="col-12 m-0 mb-1">
                    <select id="active-all-time">
                        <option value="ALL_TIME" >Mindenkori ranglista</option>
                        <option value="ACTIVE" >Aktív ranglista</option>
                    </select>
                </div>
                <div class="col-12 m-0">
                    <span class="text-dark font-weight-bolder">Rendezés</span>
                </div>
                <div class="col-12 m-0 mb-3">
                    <select name="type" id="type">
                        <option value="">Összesített rálátás</option>
                        <option value="WHICH_TEAM_">Mindkét csapat szerez gólt</option>
                        <option value="FINAL_RESULT_">Pontos végeredmény</option>
                        <option value="NUMBER_OF_GOALS_">Gólszám</option>
                        <option value="WINNING_TEAM_">Nyertes csapat</option>
                    </select>
                </div>
            </div></div>
        <div class="col-md-8">
            <div class="row-cols-2 my-auto">

                <div class="p-0 m-0 mb-1 my-auto justify-content-md-center col-12 col-md-6">
                    <div class="text-center mt-2 mb-2 mt-md-0 mb-md-0">
                        <span class="w-100 d-inline-block text-dark font-weight-bolder"  >
                            <span class="d-inline-block d-md-none">1.000.000 Ft kerül kiosztásra ekkor:</span>
                             <span class="d-none d-md-inline-block">1.000.000 Ft összdíjazás kerül kiosztásra ekkor:</span>
                            <span th:text="${#temporals.format(lastDay, 'yyyy.MM.dd.')}"></span>
                        </span>
                        <div class="w-100">
                            <span class="d-inline-block text-dark font-weight-bolder">Feltételek:</span>
                            <span class="text-dark font-weight-bolder d-flex d-md-inline-block justify-content-center justify-content-md-start"> 1.000 szavazó az adott hónapban</span>
                        </div>
                        <span   class="w-100 d-inline-block text-dark font-weight-bolder">
                            Eddig: <span id="voteCountSpan" th:text="${userCounter}"></span>/1000
                        </span>
                        <div class="w-100">
                            <span class="text-dark font-weight-bolder">Hátralévő idő:  </span>
                            <span id="kinyeri-countdown" class="d-flex d-md-inline-block justify-content-center justify-content-md-start text-dark font-weight-bolder"></span>
                        </div>
                        <span   class="w-100 d-inline-block text-secondary font-weight-bolder mb-2">
                             Vigaszdíj: <span id="allMoney" th:text="${helpMoney}+' Ft'"></span>
                        </span>




                    </div>


                </div>
            </div></div>
        <div class="col-12 d-flex justify-content-center">
            <p class="h3">
                <a href="/szabalyzat#ranking" class="btn kinyeri-orange-button text-white">Szabályzat megtekintése</a>
            </p>
        </div>
    </div>

    <div id="pc" class="d-none d-md-inline ">
        <div class="row p-0 m-0 border-bottom pb-3 mt-3 pc-table-bottom green pt-3 mt-2 rounded-top mb-md-2">
            <div class="col-md-2">
                <span class="font-weight-bolder">#</span>
                <span class="ml-2 font-weight-bolder">Felhasználónév</span>
            </div>
            <div class="col-md-1 text-center">
                <span class="font-weight-bolder">Tippek száma</span>
            </div>
            <div class="col-md-2 text-center">
                <span class="font-weight-bolder">Rálátás</span>
            </div>
            <div class="col-md-2 text-center">
                <span class="font-weight-bolder">Amiben a legjobb</span>
            </div>
            <div class="col-md-4 text-center">
                <span class="font-weight-bolder">Diagram</span>
            </div>
            <div class="col-md-1 text-center">
                <span class="font-weight-bolder">Friss tippek</span>
            </div>
        </div>
        <div id="pc-content">
        </div>
    </div>
    <div id="phone" class="d-inline d-md-none">
        <div id="phone-content" class="pt-4">
        </div>
    </div>
    <div id="spacer" class="pt-5 pb-5">
        &nbsp;
    </div>

</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script language="JavaScript" src="/js/statistic.js?v14" type="text/javascript" charset="UTF-8"></script>

<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <object th:include="fragments/footer:: footer"  />
</footer>

</body>
</html>