<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title>Kinyeri.hu - Meghívó </Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
    <object th:include="fragments/kinyeri-meta:: kinyeri-meta" th:remove="tag" />

</head>
<body>

<div class="w-100 "  th:if="${userReflink.isPresent()}">

    <div class="bg-black-100 row p-0 m-0 text-center align-content-center pt-4">
        <span class="d-none" id="reflinkOwner" th:text="${userReflink.get().getId()}"></span>


            <div class="w-100 text-center justify-content-center">
                <h2 class="d-inline-block text-truncate text-white m-0" style="max-width: 100vw;">Meghívó</h2>
                <div class="d-md-none d-flex text-center w-100 justify-content-center">
                    <h2 class="d-inline-block text-truncate text-white m-0" style="max-width: 90vw;" th:text="${userReflink.get().username}"></h2>
                </div>
                <div class="d-none d-md-inline-block">
                    <h2 class="d-inline-block text-truncate text-white m-0" style="max-width: 90vw;" th:text="${userReflink.get().username}"></h2>
                </div>
                <h2 class="d-inline-block text-truncate text-white m-0" style="max-width: 100vw;">
                    felhasználó által
                </h2>
            </div>




        <div class="col-12 m-0 p-0 mt-2 justify-content-center">
            <div class="row m-0 p-0">
                <small class="col-12 m-0 p-0  d-none d-md-inline-block text-white text-center">Ezen a meghíváson keresztül kedvezményesen veheted igénybe prémium szolgáltatásainkat. A kedvezményt később is beválthatod, nem kötelező azonnal vásárolnod.</small>
                <span class="col-12 d-md-none text-white text-justify">Ezen a meghíváson keresztül kedvezményesen veheted igénybe prémium szolgáltatásainkat.     A kedvezményt később is beválthatod, nem kötelező azonnal vásárolnod.</span>
            </div>
        </div>
        <h2 class="kinyeri-orange col-12  mt-2 m-0 p-0 font-weight-bolder mb-4">30% kedvezmény</h2>



    </div>
    <div sec:authorize="isAuthenticated()" class="row p-0 m-0 mt-3 text-center d-flex justify-content-center">
        <h2 class="col-12 d-none d-md-inline-block text-black mt-3 font-weight-bold">
            Bejelentkezett állapotban nem tudsz regisztrálni!
        </h2>
        <h5 class="col-12 d-md-none text-black mt-3 font-weight-bold">Bejelentkezett állapotban nem tudsz regisztrálni!</h5>
    </div>
    <div sec:authorize="!isAuthenticated()" class="row p-0 m-0 mt-3 text-center d-flex justify-content-center">
        <h2 class="col-12 d-none d-md-inline-block text-black mt-3 font-weight-bold">A kedvezményhez add meg az email címed</h2>
        <h5 class="col-12 d-md-none text-black mt-3 font-weight-bold">A kedvezményhez add meg az email címed</h5>

        <div class="w-100">

            <div class="col-12 justify-content-center d-flex">
                <form autocomplete="off"  method="post" class="form-horizontal col-12 col-md-4" role="form" id="mail">
                    <div class="form-row align-items-center register-form mt-1 ">
                        <div class="col-md-12 offset-0 mt-4">
                            <div class="col-auto">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white"><i class="fas fa-envelope kinyeri-orange"></i></div>
                                    </div>
                                    <input type="email" placeholder="Email" required="" class="form-control" id="email" name="email" value="">
                                    <button type="submit" class="kinyeri-orange-button w-100 mt-4 button font-weight-bold p-2 text-white" id="nextButton" form="mail">Tovább</button>
                                </div>
                                <span class="text-danger d-flex mb-2"></span>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div id="registrationDiv" class="col-12 justify-content-center d-none">
            <form class="form-horizontal col-12 col-md-4" role="form" id="reflinkRegistration" name="reflinkRegistration">
                <div class="form-row align-items-center register-form">
                    <div class="col-md-12 offset-0">
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white"><i class="fas fa-user kinyeri-orange"></i></div>
                                </div>
                                <input type="text" required  form="reflinkRegistration" name="username" id="username" placeholder="Felhasználónév" minlength="5" maxlength="23" class="form-control"/>
                            </div>
                            <span  class="text-danger d-flex mb-2"></span>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white"><i class="fas fa-user kinyeri-orange"></i></div>
                                </div>
                                <input type="text" required
                                       placeholder="Keresztnév" id="lastName" name="lastName" form="reflinkRegistration" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white"><i class="fas fa-user kinyeri-orange"></i></div>
                                </div>
                                <input type="text" required
                                       placeholder="Vezetéknév" name="firstName" id="firstName" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white"><i class="fas fa-lock kinyeri-orange"></i></div>
                                </div>
                                <input type="password" required  min="10" id="password" name="password"
                                       placeholder="Jelszó" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white"><i class="fas fa-lock kinyeri-orange"></i></div>
                                </div>
                                <input type="password" required id="password2" name="password2"
                                       placeholder="Jelszó újra" class="form-control"/>
                            </div>
                            <span  class="text-danger d-flex mb-2" ></span>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white"><i class="fas fa-birthday-cake kinyeri-orange"></i></div>
                                </div>
                                <input type="number" required id="yearsOld" name="yearsOld"
                                       placeholder="Életkorod" min="0" class="form-control"/>
                            </div>
                            <span  class="text-danger d-flex mb-2" ></span>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white"><i class="fas fa-globe-europe kinyeri-orange"></i></div>
                                </div>
                                <input type="text" required name="country" id="country"
                                       placeholder="Ország" value="Magyarország" min="0" class="form-control"/>
                            </div>
                            <span  class="text-danger d-flex mb-2" ></span>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white"><i class="fas fa-address-card kinyeri-orange"></i></div>
                                </div>
                                <input type="number" required id="zipCode" name="zipCode"
                                       placeholder="Irányítószám" min="0" class="form-control"/>
                            </div>
                            <span  class="text-danger d-flex mb-2" ></span>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white"><i class="fas fa-city kinyeri-orange"></i></div>
                                </div>
                                <input type="text" required name="city" id="city"
                                       placeholder="Város" min="0" class="form-control"/>
                            </div>
                            <span  class="text-danger d-flex mb-2" ></span>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white"><i class="fas fa-address-card kinyeri-orange"></i></div>
                                </div>
                                <input type="text" required name="address" id="address"
                                       placeholder="Utca, házszám" min="0" class="form-control"/>
                            </div>
                            <span  class="text-danger d-flex mb-2" ></span>
                        </div>

                        <div class="col-auto">
                            <div class="row p-0 m-0">
                                <div class="col-1 p-0 m-0">
                                    <input value="true"  name="emailNotification" id="emailNotification" type="checkbox">
                                </div>
                                <div class="col-11 m-0 p-0 text-justify">
                                                                                      <span><b>Igen, szeretnék ingyenes tippeket kapni </b>
<br>
                                                                                          Az oldal felhasználói a feliratkozást követően minden mérkőzés kezdete előtt tippeket kapnak.

Ezek azok a tippek, amiket az oldal a legbiztosabbnak tart a közösségi szavazás aktuális állása

alapján. Amennyiben a rendszert teljes terjedelmében szeretnéd használni, úgy a feliratkozás

elengedhetetlen. Ugyan ez érvényes a Push üzenetekre is. Később a beállítások menüpontban ki és bekapcsolhatod értesítéseid.

Az oldal bizonyos esetekben küldhet promóciókat és frissítésekkel kapcsolatos információkat is.

Adatkezelési nyilatkozatunkat és általános szerződési feltételeinket

az alábbi linken tekintheted meg: <a href="/aszf#aszf" target="_blank">ÁSZF</a> és <a href="/aszf#adatkezeles" target="_blank">Adatkezelési</a>.
                                                                                      </span>
                                </div>
                            </div>




                        </div>


                        <div class="col-auto mt-5">
                            <input type="submit" class="btnRegister w-100 button font-weight-bold p-2 text-white" form="reflinkRegistration" value="Regisztráció"/>
                            <h2><span class="text-success" ></span></h2>
                        </div>

                    </div>
                </div>
            </form>

        </div>

    </div>


</div>

<div class="container mt-3 mb-3">


    <div class="w-100 text-center align-content-center mt-2 mt-5">
        <div th:unless="${userReflink.isPresent()}">
            <i class="fas fa-exclamation-triangle h-1 text-dark"></i>
            <p class="h2 text-center" role="alert">
                A reflink nem tartozik senkihez!
            </p>
        </div>
    </div>
</div>

<script language="JavaScript" src="/js/reflink.js?v1" type="text/javascript" charset="UTF-8"></script>


</body>
</html>