<!DOCTYPE html>
<html class="dto-table-background" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title th:text="'Kinyeri.hu - Szabályzat'"></Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
    <object th:include="fragments/kinyeri-meta:: kinyeri-meta" th:remove="tag" />
</head>
<body class="bg-white">
<div class="col-12 m-0 bg-white min-vh-75 pb-4">

    <div class="container text-center">
    <p class="h2 custom-h1 mt-4 mt-md-5 d-none d-md-inline-block"> Használati útmutató & Szabályzat </p>
        <span class="h2 d-md-none text-center">
             <span class="custom-h1 mt-4 d-flex justify-content-center text-center">Használati útmutató</span>
             <span class="custom-h1 d-flex justify-content-center text-center "> & </span>
            <span class=" custom-h1 d-flex justify-content-center text-center"> Szabályzat </span>
        </span>

    <p class="h3 custom-h1 kinyeri-orange pt-4"> Szavazás</p>

        <p class="rules-text text-justify text-md-center text-justify text-md-center">

            Az oldalra való regisztrációt követően a főoldal menüponton találkozhatsz azokkal a mérkőzésekkel, amikre tagjaink szavazhatnak. Ezek nem valós pénzben történő fogadások, hanem egy közösségi szavazás, aminek a célja a végkimenetel megtippelése. Szavazat leadásához a gólszám rubrikák kitöltésével add meg pontos végkimenetel tipped majd kattints a tipp leadása gombra.

        </p>

    <p class="h3 custom-h1 kinyeri-orange mt-4"> Profil és statisztika</p>

        <p class="rules-text text-justify text-md-center">

            A profilom menüpontban láthatod azokat a lezárt és lezáratlan mérkőzéseket, amikre tippet adtál le. Pontos végeredményre való szavazatoddal automatikusan 4 különböző tipp születik egy adott mérkőzésre. A már lezárt tippjeidből statisztikát készítünk melynek együttes értékét összesített rálátásnak nevezzük. Összesített rálátásodra boostot azaz értéknövelőket szerezhetsz annak függvényében többnyire milyen típusú tippeket találsz el és mekkora szorzón. Ebből a büntető/jutalmazási rendszer részben olvashatsz részletet.
        </p>

    <p class="h3 custom-h1 kinyeri-orange mt-5"> Szavazási határidő és az oldal által küldött tippek</p>


        <p class="rules-text text-justify text-md-center">

            Szavazni egészen a mérkőzés kezdetéig van ideje minden felhasználónak, viszont tekintettel arra, hogy az események többsége már egy nappal a kezdés előtt szavazásra van bocsájtva, az oldal egy emailt küld ki minden tagnak kezdés előtt 1 órával. Ez az email a szavazás aktuális állásából született tippeket tartalmazza. 15 percel a kezdés előtt push üzenet érkezik a feliratkozott készülékekre, ami a weboldalra, azon belül pedig az érintett mérkőzésre irányít.
        </p>


    <p class="h2 custom-h1 mt-5" id="ranking"> Ranglista és büntető/jutalmazási rendszer</p>

     <p class="h3 custom-h1 kinyeri-orange mt-5">1. Alapfeltételek </p>

        <p class="rules-text text-justify text-md-center">
            *Az aktív listán való megjelenéshez mai vagy holnapi napra kell rendelkezni friss, lezáratlan tippekkel.

        </p>
        <p class="rules-text text-justify text-md-center">

            *A felkerüléshez minden esetben legalább 50 eseményre leadott tipp szükséges, azaz 50x4 LEZÁRT tipp.  Ezek nem számít mikori tippek csak összességében legyen meg ennyi.
                </p>
        <p class="rules-text text-justify text-md-center">

            *A mindenkori listán való megjelenéshez az elmúlt 7 napban legalább 1 tippet kell adni.


        </p>

        <p class="rules-text text-justify text-md-center">
            *A felkerüléshez minden esetben legalább 50 eseményre leadott tipp szükséges, azaz 50x4 LEZÁRT tipp.  Ezek nem számít mikori tippek csak összességében legyen meg ennyi.

        </p>


        <p class="h3 custom-h1 kinyeri-orange mt-5">2. Jutalmazási rendszer  </p>

        <p class="rules-text text-justify text-md-center">
            *Azok a felhasználók, akik az adott hónapban legalább 60 eseményre tippelnek +1% boostot kapnak.
        </p>
        <p class="rules-text text-justify text-md-center">
            *Azok a felhasználók, akik az adott hónapban legalább 20 napot aktívan tippelnek +1% boostot kapnak.
        </p>
        <p class="rules-text text-justify text-md-center">

            *A felhasználók által megfogott átlag odds érték felét mindenki megkapja +% boost formájában, de ehhez az kell, hogy az adott hónapban legalább 60 eseményre tippeljenek és legalább 20 napot aktívan.  (ezek a 2. pontban leírtak a ranglista minden részére érvényesek, mikori, miben a legjobb stb.)

        </p>

        <p class="h3 custom-h1 kinyeri-orange mt-5">3. Büntető rendszer</p>

        <p class="rules-text text-justify text-md-center">
            *Aki összességében kihagy 10 napot fogadás nélkül az adott hónapban az lekerül a listáról.
        </p>
        <p class="rules-text text-justify text-md-center">
            *Aki az utolsó 7 napban nem tippel, az lekerül a listáról.
        </p>
        <p class="rules-text text-justify text-md-center">

            *Aki az adott hónap 20. napjáig nem tippel legalább 30 eseményre az lekerül a listáról.
            <br>
            (A 3. pontban leírtak a ranglista mindenkori/összesített rálátás részére érvényesek.)

        </p>
        <p class="rules-text text-justify text-md-center">



        </p>

        <p class="h3 custom-h1 kinyeri-orange mt-5">Nyeremény</p>

        <p class="rules-text text-justify text-md-center">

            Az oldalon minden hónapban minimum 1.000.000 Ft kerül kiosztásra a legjobb tippadók közt. Ennek a minimum nyereményalapnak 1.000 egyedi szavazó a feltétele az érintett hónapban. A nyeremény elosztási arányait mindenki szabadon megtekintheti a ranglistán. Fontos, hogy pénzjutalom kizárólag a mindenkori ranglista/összesített rálátás által szűrt felhasználókra érvényes.

            A nyeremény kiosztása a hónap első és utolsó előtti napjáig leadott tippek kiértékelése után történik. A fent említett kiértékelés a hónap utolsó napján zajlik. Ezt a napot üres napnak nevezzük mivel az ezen a napon leadott tippek már csak a pénzjutalmak átadása után kerülnek lezárásra. Mivel a hónap utolsó napján még zárhatunk le eseményeket a megelőző napról ezért változhatnak a helyezések kiosztás előtt.

            Amennyiben a szavazószám nem teljesül, vigaszdíj kerül kiosztásra.

            A vigaszdíj elosztási aránya megegyezik a jutaloméval, összege viszont a teljes jutalom egy ezredrészének a szavazók aktuális számával, majd 0.7-tel való szorzata.

        </p>


        <p class="h3 custom-h1 kinyeri-orange mt-5">Beállítások és előfizetések</p>

        <p class="rules-text text-justify text-md-center pb-5">

            A beállítások menüpontban megváltoztathatod számlázási adataid, kezelheted és befizetheted prémium csomagjaid, valamint ki és bekapcsolhatod email, illetve push értesítéseid. Aktív előfizetéssel hozzáférést kapsz a legjobb tippadók lezáratlan tippjeihez így kedved szerint másolhatod őket. Prémium szolgáltatásunk megrendeléséhez nincs más dolgod, mint csomagot választani a prémium menüpontban majd az előfizetés gombra kattintani. Rendelésed megerősítését követően megkapod az utaláshoz szükséges banki adatokat. Ezek a banki adatok később is előhívhatóak a profilom/csomagok menüpontból, ha a fizetésre vár figyelmeztetés melletti befizetés gombra kattintasz. Az összeg beérkezését követően 24 órán belül aktiváljuk prémium tagságod.
        </p>



    </div>

</div>
<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <object th:include="fragments/footer:: footer"  />
</footer>

</body>
</html>