<!DOCTYPE html>
<html class="dto-table-background" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title th:text="'Kinyeri.hu - Statisztika'"></Title>
    <object th:include="fragments/header:: header" th:remove="tag" />
    <object th:include="fragments/kinyeri-meta:: kinyeri-meta" th:remove="tag" />
</head>
<body class="bg-black-100 bg-white min-vh-100">

<div class="min-vh-100">
    <div class="row p-0 m-0 text-dark mt-4 mt-md-5">
        <div class="col-12 text-center m-0 p-0">
            <span class="h1 d-none d-md-inline-block kinyeri-orange m-0 p-0">
                Statisztikák
            </span>
            <span class="h1 d-md-none kinyeri-orange m-0 p-0">
                Statisztikák
            </span>
        </div>
        <div class="col-12 mb-3 mt-2 text-center d-none">
            <select class="pr-2" id="filter">
                <option value="all">Mindenkori</option>
                <option value="90">90 nap</option>
                <option value="30">30 nap</option>
            </select>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3 justify-content-center d-flex m-0 p-0 mt-5 mt-md-0">
            <div>
                <div class="col-12">
                    <h3 class="text-dark font-weight-bold mb-2">Kinyeri.hu</h3>
                </div>
                <div class="col-12">
                    <span>Tippek száma: </span><span  th:class="${user.getTipNum()>(pageTipNum*4)} ?  'kinyeri-red font-weight-bold' : 'kinyeri-green font-weight-bold'"  th:text="${pageTipNum*4}"></span>
                </div>
                <div class="col-12">
                    <span>Mérkőzés nyertese: </span><span th:class="${merkozesnyertese<pageMerkozesNyertese} ? 'kinyeri-green font-weight-bold' : 'kinyeri-red font-weight-bold'" th:text="${pageMerkozesNyertese}+'%'"></span>

                </div>
                <div class="col-12">
                    <span>GG: </span><span th:class="${pageGG>gg} ? 'kinyeri-green font-weight-bold' : 'kinyeri-red font-weight-bold'" th:text="${pageGG}+'%'"></span>

                </div>
                <div class="col-12">
                    <span>Pontos gólszám: </span><span th:class="${pagePontosGolSzam>golszam} ? 'kinyeri-green font-weight-bold' : 'kinyeri-red font-weight-bold'" th:text="${pagePontosGolSzam}+'%'"></span>

                </div>
                <div class="col-12">
                    <span>Pontos kimenetel: </span><span th:class="${pagePontosKimenetel>pontoskimenetel} ? 'kinyeri-green font-weight-bold' : 'kinyeri-red font-weight-bold'" th:text="${pagePontosKimenetel}+'%'"></span>

                </div>
                <div class="col-12">
                    <span>Összesített rálátás: </span><span  th:class="${winrate>user.getWinRate()} ? 'kinyeri-green font-weight-bold' : 'kinyeri-red font-weight-bold'" th:text="${winrate}+'%'"></span>
                </div>
                <div class="col-12 text-center">
                    <a href="/index" class="text-decoration-none btn text-white mt-3 kinyeri-orange-button">Főoldali tippek </a>
                </div>
            </div>
        </div>
        <div class="col-md-2 justify-content-center d-flex m-0 p-0 mb-3">
            <h1 class="kinyeri-orange vs-text">vs</h1>
        </div>
        <div class="col-md-3 justify-content-center d-flex m-0 p-0">
            <div>
                <div class="col-12">

                    <a th:href="'/profil/'+${user.getUsername()}" class="text-decoration-none text-dark">
                        <h3 class="text-dark font-weight-bold mb-2" th:text="${user.getUsername()}"></h3>
                    </a>

                </div>
                <div class="col-12">
                    <span>Tippek száma: </span>
                    <span th:class="${user.getTipNum()<(pageTipNum*4)} ?  'kinyeri-red font-weight-bold' : 'kinyeri-green font-weight-bold'"  th:text="${user.getTipNum()}"></span>
                </div>
                <div class="col-12">
                    <span>Mérkőzés nyertese: </span><span th:class="${merkozesnyertese>pageMerkozesNyertese} ? 'kinyeri-green font-weight-bold' : 'kinyeri-red font-weight-bold'"  th:text="${merkozesnyertese}+'%'"></span>

                </div>
                <div class="col-12">
                    <span>GG: </span><span th:class="${gg>pageGG} ? 'kinyeri-green font-weight-bold' : 'kinyeri-red font-weight-bold'" th:text="${gg}+'%'"></span>

                </div>
                <div class="col-12">
                    <span>Pontos gólszám: </span><span th:class="${golszam>pagePontosGolSzam} ? 'kinyeri-green font-weight-bold' : 'kinyeri-red font-weight-bold'" th:text="${golszam}+'%'"></span>

                </div>
                <div class="col-12">
                    <span>Pontos kimenetel: </span><span th:class="${pontoskimenetel>pagePontosKimenetel} ? 'kinyeri-green font-weight-bold' : 'kinyeri-red font-weight-bold'" th:text="${pontoskimenetel}+'%'"></span>

                </div>
                <div class="col-12">
                    <span>Összesített rálátás: </span><span th:class="${user.getWinRate()>winrate} ? 'kinyeri-green font-weight-bold' : 'kinyeri-red font-weight-bold'" th:text="${user.getWinRate()}+'%'"></span>
                </div>
                <div class="col-12 text-center mt-3">
                    <a href="/premium" class="text-decoration-none btn text-white kinyeri-orange-button">
                        Prémium vásárlás
                    </a>
                </div>
            </div>


        </div>
        <div class="col-md-2 mb-5"></div>
    </div>
</div>



    <script  language="JavaScript" src="/js/statisztika.js" type="text/javascript" charset="UTF-8"></script>

<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <object th:include="fragments/footer:: footer"  />
</footer>

</body>
</html>