<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <Title>Kinyeri.hu - </Title>
    <object th:include="fragments/header:: header" th:remove="tag" />

</head>
<body class="min-vh-100 dto-table-background">

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Felhasználó létrehozás</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="username" class="col-form-label">Felhasználónév</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                <div class="form-group">
                    <label for="username" class="col-form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>

                <div class="form-group">
                    <label for="password" class="col-form-label">Jelszó</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <div class="form-group">
                    <label for="password2" class="col-form-label">Jelszó újra</label>
                    <input type="password" class="form-control" id="password2" name="password2">
                </div>

                <div class="form-group">
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label class="col-form-label">Jogok </label>
                        <th:block th:each="role : ${roles}">
                            <label class="col-form-label"><input class="uk-checkbox" type="checkbox" th:id="${role.getRole()}" th:data-id="${role.getRole_id()}" th:value="${role.getRole()}"><span class="ml-1" th:text="${role.getRole()}"/></label>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                <button type="submit" class="btn btn-primary">Mentés</button>
            </div>
        </div>
    </div>
    </form>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form id="edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Felhasználó szerekesztés</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="display: none">
                        <label for="editId" class="col-form-label">id</label>
                        <input type="text" class="form-control" id="editId" name="editId">
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-form-label">Felhasználónév</label>
                        <input disabled type="text" class="form-control" id="editUsername" name="editUsername">
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="editEmail" name="editEmail">
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-form-label">Új jelszó</label>
                        <input type="password" class="form-control" id="editPassword" name="password">
                    </div>

                    <div class="form-group">
                        <label for="password2" class="col-form-label"> Új jelszó újra</label>
                        <input type="password" class="form-control" id="editPassword2" name="password2">
                    </div>

                <div class="form-group">
                        <label class=c"ol-form-label">Jogok </label>
                        <th:block th:each="role : ${roles}">
                            <label class="col-form-label"><input class="uk-checkbox" type="checkbox" th:id="'edit_'+${role.getRole()}" th:data-id="${role.getRole_id()}" th:value="${role.getRole()}"><span class="ml-1" th:text="${role.getRole()}"/></label>
                        </th:block>

                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <button type="submit" class="btn btn-primary">Mentés</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid mt-3 p-3">
    <button type="button" class="btn kinyeri-orange-button" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">Új felvitele</button>
</div>
    <div class="container-fluid  p-3">
    <table id="users" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th><input class="form-control w-100" id="search_id" type="text" placeholder="Azonosító"/></th>
            <th><input class="form-control w-100" id="search_username" type="text" placeholder="Felhasználó név"/></th>
            <th><input class="form-control w-100" id="search_email" type="text" placeholder="Email"/></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Azonosító</th>
            <th>Felhasználó név</th>
            <th>Email</th>
            <th>Státusz</th>
            <th>Jogok</th>
            <th>Műveletek</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



</body>
<script language="JavaScript" src="/js/user-control.js" type="text/javascript" charset="UTF-8"></script>

</html>